section#seoText.seoText
    .container
        .seoText__content
            .seoText__content_text
                .content__block
                    .content__block_label
                        h2= "Таблички с номером кабинета и логотипом компании"
                    .content__block_text
                        p= 'У нас вы можете заказать офисную табличку на кабинет директора, а также подобрать и другие варианты надписей в разных стилях в соответствии с занимаемой должностью.'
                        p= 'Мы изготовим сразу весь комплект табличек для офисных центров и предоставим скидку на объемный заказ. Также к бюджетным вариантам относятся стандартные таблички под сменную информацию без декора.'
                .content__block
                    .content__block_label
                        h2= "Доставка офисных табличек " + city.prepositionalCity
                    .content__block_text
                        p= 'Мы производим качественные таблички по современным технологиям. Можно купить табличку на дверь кабинета с полноцветной печатью изображения или с высокоточной гравировкой лазером.'
                        p= 'Возможно производство любых форм, не только прямоугольных. Наши таблички всегда выглядят стильно и оригинально!'