section.video#video
    .container
        .video__content.col-md-6
            .content__block
                .content__block_label
                    h2= 'Изготовление табличек на дверь кабинета ' + city.prepositionalCity
                .content__block_text
                    p= 'Предлагаем заказать изготовление таблички на дверь кабинета ' + city.prepositionalCity + '. Можете выбирать из широкого ассортимента цветных пленок для декора или заказать металлический вариант с гравировкой.'
                    p= 'Также у нас на складе есть большой выбор готовых изделий в стандартных размерах. Они предназначены под сменную информацию и легко крепятся на любую дверь.'
            .content__block
                .content__block_label
                    h2= 'Таблички на дверь: цена'
                .content__block_text
                    p= 'Вы можете заказать табличку на дверь кабинета в офисе ' + city.prepositionalCity + ' по доступной цене. На ваш выбор – пластиковые и металлические варианты с аппликацией пленкой или лазерной гравировкой.'
                    p= 'Сроки изготовления кабинетных табличек – от одного дня. Цена зависит от размера и от выбранной технологии изготовления.'
        .video__frame.col-md-6
            iframe.video__frame_video(src="https://www.youtube.com/embed/OQkY_iKxBjQ", frameborder="0")
