section.review#review
    .container
        p.review__label отзывы клиентов
        .slider
            .slider__box
                .slider__box_image
                    img(src="/dist/image/reviews/first.jpg", alt="Первый отзыв")
                .slider__box_text
                    p.slider__box_text-common= 'Нам хотели повесить таблички с рекламой «спонсора», мы отказали. Заказали здесь сами, все очень удобно и быстро.'
                    p.slider__box_text-common= 'Таблички стандартные, доставили на следующий же день, переплачивать не пришлось.'
                    p.slider__box_text-whois= 'Ангелина Троцик, '
                    p.slider__box_text-whois= 'г. ' + city.city
            .slider__box
                .slider__box_image
                    img(src="/dist/image/reviews/second.jpg", alt="Второй отзыв")
                .slider__box_text
                    p.slider__box_text-common= 'Спасибо за таблички с номерами квартир по доступным ценам! Мы выбрали металлическую табличку, чтобы она прослужила как можно дольше.'
                    p.slider__box_text-common= 'Сэкономить удалось за счет объема – в нашем доме больше 10 подъездов.'
                    p.slider__box_text-whois= 'Ирина Викторовна, '
                    p.slider__box_text-whois= 'г. ' + city.city
            .slider__box
                .slider__box_image
                    img(src="/dist/image/reviews/third.jpg", alt="Третий отзыв")
                .slider__box_text
                    p.slider__box_text-common= 'У нас большой многоквартирный дом, и без табличек на подъезде гостям было неудобно находить квартиры. Скинулись по небольшой сумме и приобрели изделия из пластика ПВХ.'
                    p.slider__box_text-common= 'Обошлось совсем недорого!'
                    p.slider__box_text-whois= 'Александр Пальчиков, '
                    p.slider__box_text-whois= 'г. ' + city.city
