section#seoText.seoText
    .container
        .seoText__content
            .seoText__content_text
                .content__block
                    .content__block_label
                        h2= "Информационные таблички и домовые указатели"
                    .content__block_text
                        p= 'Изготовление таблички на подъезд с номерами квартир занимает несколько часов, поэтому вы сможете получить свой заказ даже в тот же день, если он нужен срочно.'
                        p= 'Возможна разработка индивидуального дизайна, чтобы внешний вид изделий соответствовал оформлению фасада. Наша продукция отличается высоким качеством и аккуратностью изготовления.'
                .content__block
                    .content__block_label
                        h2= "Доставка табличек для подъездов " + city.prepositionalCity
                    .content__block_text
                        p= 'Наши специалисты используют для изготовления табличек качественный и долговечный металл либо пластик ПВХ определенной толщины. Можно купить табличку для подъезда с номерами квартир разных размеров, вплоть до А4.'
                        p= 'Такие таблички подходят и как адресные указатели, и как место для размещения дополнительной рекламной информации.'