section.video#video
    .container
        .video__content.col-md-6
            .content__block
                .content__block_label
                    h2= 'Изготовление табличек на подъезд ' + city.prepositionalCity
                .content__block_text
                    p= 'Специалисты нашей компании могут сделать любые таблички с номерами для частных и многоквартирных домов, в том числе и со светодиодной подсветкой.'
                    p= 'Предлагаем заказать изготовление табличек на подъезды с номерами квартир ' + city.prepositionalCity + '	 с доставкой на дом. Полностью соблюдаем все стандарты и используем материалы с сертификатами.'
            .content__block
                .content__block_label
                    h2= 'Таблички на подъезды: цена'
                .content__block_text
                    p= 'Выбирайте подъездные таблички с номерами квартир: цена от 500 руб/шт. При заказе нескольких номерных знаков одновременно – дополнительные скидки.'
                    p= 'Качественные таблички будут полезны не только для жильцов дома, но и для всех, кто их посещает, в том числе для гостей, курьеров, представителей коммунальных служб.'
        .video__frame.col-md-6
            iframe.video__frame_video(src="https://www.youtube.com/embed/OQkY_iKxBjQ", frameborder="0")
