section.review#review
    .container
        p.review__label отзывы клиентов
        .slider
            .slider__box
                .slider__box_image
                    img(src="/dist/image/reviews/first.jpg", alt="Первый отзыв")
                .slider__box_text
                    p.slider__box_text-common= 'Заказывали стенды для поделок для младшей группы детского сада. Готовый стенд значительно лучше самодельного!'
                    p.slider__box_text-common= 'Приятно, что даже наш маленький заказ смогли сделать по индивидуальному проекту, благодарим!'
                    p.slider__box_text-whois= 'Ангелина Троцик, '
                    p.slider__box_text-whois= 'г. ' + city.city
            .slider__box
                .slider__box_image
                    img(src="/dist/image/reviews/second.jpg", alt="Второй отзыв")
                .slider__box_text
                    p.slider__box_text-common= 'Заказали сразу несколько стендов с красочным оформлением для всех групп в частном детском саду. Исполнение порадовало. Еще и скидку дали как за большой заказ, пи привезли самостоятельно.'
                    p.slider__box_text-common= 'Кстати, стоимость доставки совсем не высокая.'
                    p.slider__box_text-whois= 'Ирина Викторовна, '
                    p.slider__box_text-whois= 'г. ' + city.city
            .slider__box
                .slider__box_image
                    img(src="/dist/image/reviews/third.jpg", alt="Третий отзыв")
                .slider__box_text
                    p.slider__box_text-common= 'Нам важно было подобрать цвет под оформление интерьера, поскольку мы только сделали ремонт в группах детского сада. Нам пошли навстречу и выбрали соответствующую цветовую гамму.'
                    p.slider__box_text-common= 'Теперь все гармонично и стильно!'
                    p.slider__box_text-whois= 'Александр Пальчиков, '
                    p.slider__box_text-whois= 'г. ' + city.city
