section#seoText.seoText
    .container
        .seoText__content
            .seoText__content_text
                .content__block
                    .content__block_label
                        h2= 'Стенд ДОУ с информацией для родителей'
                    .content__block_text
                        p= 'Доставка стендов в ДОУ ' + city.city + ' осуществляется курьером. Это удобно и не нужно никуда ехать, достаточно только согласовать время. Курьер может привезти готовые стенды прямо в детский сад.'
                        p= 'Также у нас можно заказать магнитные стенды для детских поделок – красочные и качественные, которые понравятся и детям, и родителям, и контролирующим организациям.'
                .content__block
                    .content__block_label
                        h2= 'Стенды для информационных уголков – патриотические и в разных стилях'
                    .content__block_text
                        p= 'Выбирая дизайны информационных досок, не забывайте, что от этого зависит интерьер группы.'
                        p= 'Для дошкольных образовательных учреждений предлагаем варианты стендов с рисунками или одноцветные, с прозрачными кармашками для информации.'