section.video#video
    .container
        .video__content.col-md-6
            .content__block
                .content__block_label
                    h2= 'Стенды для детского сада на заказ ' + city.prepositionalCity
                .content__block_text
                    p= 'Нужно заказать информационный стенд для дошкольных учреждений? Предлагаем выгодные цены на индивидуальные заказы с красочным оформлением.'
                    p= 'У нас можно заказать стенд для детского сада (ДОУ) ' + city.prepositionalCity + ' без макета: мы сами разработаем дизайн в нужном стиле и цвете. Информационные доски для группы детского сада будут плностью соответствовать оформлению интерьера.'
            .content__block
                .content__block_label
                    h2= 'Стенд для детского сада: цена'
                .content__block_text
                    p= 'У нас на информационный стенд для детского сада: цена от 1200 руб. В стоимость уже включены все материалы с сертификатами качества.'
                    p= 'Вы можете выбрать любой вариант готового стенда с разным количеством карманов или заказать индивидуальный дизайн. все модели в нашем каталоге представлены по доступным ценам.'
        .video__frame.col-md-6
            iframe.video__frame_video(src="https://www.youtube.com/embed/ZOC0I3pRG5c", frameborder="0")
