section.pay#pay
    .container
        .pay__block
            .pay__block-first
                .content__block
                    .content__block_label
                        h2 Оплата фасадной вывески
                    .content__block_text
                        p= 'Менеджер пришлет вам реквизиты (номер расчетного счета), куда нужно оплатить фасадную адресную табличку на дом.'
                        p= 'Вы сами определяете процент первого платежа. Можете сразу внести всю сумму, а можете заплатить только минимальный аванс в размере 500 рублей. Также возможны и другие способы оплаты – их согласуем дополнительно по телефону.'
                a(href="/oplata") 
                    .button Оплатить заказ
            .pay__block_logo
                img(src="/dist/image/pay/visa-master.png", alt="Visa Mastercard")
                img(src="/dist/image/pay/mir.png", alt="МИР")
                img(src="/dist/image/pay/paypal.png", alt="PayPal")
                img(src="/dist/image/pay/sberbank-online.png", alt="Сбербанк Онлайн")
                img(src="/dist/image/pay/megafon.png", alt="Мегафон")
                img(src="/dist/image/pay/beeline.png", alt="Билайн")
                img(src="/dist/image/pay/mts.png", alt="МТС")
                img(src="/dist/image/pay/tele2.png", alt="TELE2")
                img(src="/dist/image/pay/tinkoff.png", alt="Тинькофф банк")
            .pay__block-second
                .content__block
                    .content__block_label
                        h2 Возврат средств
                    .content__block_text
                        p= 'Как долго ждать?'
                        p= 'Самые простые таблички, изготовленные по стандарту, будут готовы через 1-2 часа после подтверждения заказа. Вы можете оплатить и всю сумму сразу, чтобы не разбивать платеж на части.'
                        p= 'Мы контролируем заказ каждого клиента, поэтому вы всегда можете позвонить и спросить, на какой стадии изготовления находится аншлаг для вашего дома.'
                        p= 'Дорогие и дешевые таблички'
                        p= 'Самые дорогие таблички – световые, в среднем ценовом диапазоне – композитные, покрытые ламинирующей пленкой, а в бюджетной – пластиковые. Мы контролируем качество вне зависимости от стоимости заказа!'
                        p= 'Для тех, кому важна экономия, мы предлагаем выгодные скидки: до 20% от общей суммы при заказе сразу нескольких табличек. Чтобы получить «оптовую» скидку, нужно оформить заказ на 3-5 изделий одновременно.'
