section.review#review
    .container
        p.review__label отзывы клиентов
        .slider
            .slider__box
                .slider__box_image
                    img(src="/dist/image/reviews/first.jpg", alt="Первый отзыв")
                .slider__box_text
                    p.slider__box_text-common= 'У нас фасад выходит на солнечную сторону дома. Выбирали адресный знак на фасад дома из пленки, после сезона эксплуатации остались довольны – нигде ничего не потрескалось, не покоробилось, не поменяло цвет!'
                    p.slider__box_text-common= 'Теперь точно знаю, что компания надежная.'
                    p.slider__box_text-whois= 'Ангелина Троцик, '
                    p.slider__box_text-whois= 'Частник, г. ' + city.city
            .slider__box
                .slider__box_image
                    img(src="/dist/image/reviews/second.jpg", alt="Второй отзыв")
                .slider__box_text
                    p.slider__box_text-common= 'Я здесь заказала изготовление адресного аншлага на дом, привезли по адресу уже на следующий день. Оплатила остаток курьеру – очень удобно, ведь смогла сначала посмотреть на готовое изделие и убедиться, что все сделано по макету.'
                    p.slider__box_text-common= 'С уважением, Ирина.'
                    p.slider__box_text-whois= 'Ирина Викторовна, '
                    p.slider__box_text-whois= 'Частник, г. ' + city.city
            .slider__box
                .slider__box_image
                    img(src="/dist/image/reviews/third.jpg", alt="Третий отзыв")
                .slider__box_text
                    p.slider__box_text-common= 'Выбрали домовой адресный знак ' + city.prepositionalCity + ' в формате «ретро». Очень нравятся изогнутые формы, да и на нашем деревянном фасаде смотрится гармонично. Доплатили немного за композит, хотя и пластик ПВХ, как нам рассказали, крепкий и надежный.'
                    p.slider__box_text-common= 'Спасибо.'
                    p.slider__box_text-whois= 'Александр Пальчиков, '
                    p.slider__box_text-whois= 'Частник, г. ' + city.city
