section#seoText.seoText
    .container
        .seoText__content
            .seoText__content_text
                .content__block
                    .content__block_label
                        h2= "Адресные таблички на дом: материалы и размеры"
                    .content__block_text
                        p= 'Выбирайте стандартные размеры адресной таблички с номером дома - ширина 60 см, высота 24-30 см (для фигурных табличек высота зависит от формы). Также возможна разработка индивидуального макета и изготовление по нему.'
                        p= 'Наша компания также специализируется на изготовлении наружной рекламы и знает, какие качественные материалы понадобятся для фасадов.'
                .content__block
                    .content__block_label
                        h2= "Как заказать адресный знак на дом " + city.prepositionalCity
                    .content__block_text
                        p= 'Таблички для частных домов могут отличаться по цвету: мы подберем оттенок в соответствии с фасадом здания.'
                        p= 'Можно купить аншлаг с адресом и номером дома ' + city.prepositionalCity + ' с минимальной предоплатой. Оформите заявку и переведите аванс от 500 рублей на расчетный счет. После этого утверждаем макет и запускаем изготовление. Остаток можно оплатить при получении.'