section.video#video
    .container
        .video__content.col-md-6
            .content__block
                .content__block_label
                    h2= 'Изготовление адресных табличек на дом ' + city.prepositionalCity
                .content__block_text
                    p= 'Предлагаем заказать изготовление адресной таблички ' + city.prepositionalCity + ' знака с номером дома или ретро аншлага. Изготавливаем номерные и адресные знаки из композита или пластика. Гарантируем их практичность и долговечность.'
                    p= 'У нас вы можете купить табличку на фасад с номером дома	и получить в комплекте крепежи для монтажа на фасаде здания.'
            .content__block
                .content__block_label
                    h2= 'Адресные домовые знаки и таблички: цена'
                .content__block_text
                    p= 'Мы на собственном производстве изготавливаем адресные таблички и домовые знаки из ПВХ и композита (металл): цена от 950 руб. (зависит от размера заказа). Знаки изготавливаются с ламинированием и остаются невосприимчивыми к погодным условиям.'
                    p= 'Для оформления указателей улицы мы используем специальную пленку, устойчивую к воздействию ультрафиолетовых лучей.'
        .video__frame.col-md-6
            iframe.video__frame_video(src="https://www.youtube.com/embed/OQkY_iKxBjQ", frameborder="0")
