section#seoText.seoText
    .container
        .seoText__content
            .seoText__content_text
                .content__block
                    .content__block_label
                        h2= 'Доставка информационного стенда ' + city.prepositionalCity
                    .content__block_text
                        p= 'Для дизайна стенда используется техника полноцветной печати. Полноцветные изображения товаров всегда смотрятся презентабельно.'
                        p= 'У нас можно приобрести как готовую продукцию со склада, так и уникальный стенд любой конфигурации. Курьер привезет ваш заказ в указанное время.'
                .content__block
                    .content__block_label
                        h2= 'Качественные стенды для офиса и в школу'
                    .content__block_text
                        p= 'Производство информационных стендов возможно в любых количествах. При заказе комплекта изделий разных размеров, но в одном стиле делаем хорошую скидку.'
                        p= 'Чтобы купить стенд для размещения информации, оставьте заявку. Все параметры можете указать предварительно. Менеджер свяжется с вами и уточнит детали.'