section.video#video
    .container
        .video__content.col-md-6
            .content__block
                .content__block_label
                    h2= 'Изготовление информационного стенда ' + city.prepositionalCity + ' на заказ'
                .content__block_text
                    p= 'Предлагаем заказать изготовление информационного стенда с карманами ' + city.prepositionalCity + ' для образовательных учреждений, медицинских центров, предприятий и офисов. Наша компания сделает для вас уголок покупателя и любой другой стенд для размещения информации.'
                    p= 'Вам нужно только выбрать из различных форматов пластиковых кармашков и определиться с толщиной пластика для основания – 2, 3 или 4 мм.'
            .content__block
                .content__block_label
                    h2= 'Настенные информационные стенды с карманами'
                .content__block_text
                    p= 'Цены на изготовление информационных стендов ' + city.prepositionalCity + ' зависят от дизайна и габаритов. Стоимость разработки индивидуального дизайна всегда будет выше.'
                    p= 'Всегда можно заказать настенный стенд с карманами А4, А5: цена от 1200 руб. Так как мы производим качественные стенды для размещения информации на собственном оборудовании, а не обращаемся к посредникам.'
        .video__frame.col-md-6
            iframe.video__frame_video(src="https://www.youtube.com/embed/ZOC0I3pRG5c", frameborder="0")
