section.review#review
    .container
        p.review__label отзывы клиентов
        .slider
            .slider__box
                .slider__box_image
                    img(src="/dist/image/reviews/first.jpg", alt="Первый отзыв")
                .slider__box_text
                    p.slider__box_text-common= 'Кабинетные таблички обязательно должны быть на всех дверях в школе, поскольку это существенно облегчает ориентирование не только учеников, но и преподавателей. Мы выбрали и заказали сразу все таблички, от кабинета директора до спортивного зала.'
                    p.slider__box_text-common= 'Получилось красиво и стильно, еще и со скидкой!'
                    p.slider__box_text-whois= 'Ангелина Троцик, '
                    p.slider__box_text-whois= 'г. ' + city.city
            .slider__box
                .slider__box_image
                    img(src="/dist/image/reviews/second.jpg", alt="Второй отзыв")
                .slider__box_text
                    p.slider__box_text-common= 'Обязали придумать и повесить таблички на кабинеты младших классов, чтобы не путались ни сами ученики, ни их родители. Мы скинулись с трех классов и заказали нужные в стандартных размерах.'
                    p.slider__box_text-common= 'Получилось совсем недорого. Директору тоже понравилось.'
                    p.slider__box_text-whois= 'Ирина Викторовна, '
                    p.slider__box_text-whois= 'г. ' + city.city
            .slider__box
                .slider__box_image
                    img(src="/dist/image/reviews/third.jpg", alt="Третий отзыв")
                .slider__box_text
                    p.slider__box_text-common= 'Мы заказали табличку в класс родительским комитетом. Понравилось, что с нами обсудили и цвет, и габариты.'
                    p.slider__box_text-common= 'Теперь планируем купить еще большой информационный стенд с доставкой.'
                    p.slider__box_text-whois= 'Александр Пальчиков, '
                    p.slider__box_text-whois= 'г. ' + city.city
