section#seoText.seoText
    .container
        .seoText__content
            .seoText__content_text
                .content__block
                    .content__block_label
                        h2= "Заказ таблички на кабинет."
                    .content__block_text
                        p= 'Вы можете заказать табличку на кабинет в школе с кармашком для сменной информации, а можете выбрать вариант с полноцветной печатью, где изображение дополнительно защищено специальной пленкой.'
                        p= 'Можем разработать дизайн для учительской, приемной, спортивного и актового зала, а можем просто изготовить набор табличек одинакового цвета и формы, которые вы сможете наполнить информацией по своему выбору.'
                .content__block
                    .content__block_label
                        h2= "Доставка табличек для школ " + city.prepositionalCity
                    .content__block_text
                        p= 'Очень удобно, что у нас можно купить табличку для школы с доставкой. Вам нужно только обсудить с менеджером все детали заказа, а потом мы вам перезвоним и согласуем детали.'
                        p= 'Все наши школьные таблички из пластика – недорогие, но практичные решения!'