section.video#video
    .container
        .video__content.col-md-6
            .content__block
                .content__block_label
                    h2= 'Изготовление табличек для школы ' + city.prepositionalCity
                .content__block_text
                    p= 'У нас вы найдете широкий ассортимент кабинетных табличек из пластика стандартных форм и размеров. Также можно заказать изготовление школьных табличек ' + city.prepositionalCity + ' по индивидуально разработанному шаблону.'
                    p= 'Такие таблички на дверь необходимы на все кабинета – директора, методиста, завуча, логопеда, психолога, а также на классы иностранного языка, физики, биологии и так далее.'
            .content__block
                .content__block_label
                    h2= 'Таблички для школы: цена'
                .content__block_text
                    p= 'Решая заказать табличку на школьный кабинет ' + city.prepositionalCity + ', вы заботитесь о том, чтобы учащиеся легче находили нужный класс и приходили без опозданий. По статистике, 97% учеников ориентируются именно на «вывеску».'
                    p= 'Мы предложим разные варианты оформления табличек, как для школы, так и для офисных помещений. Подберем дизайн под цвет стен или дверного полотна в образовательном учреждении.'
        .video__frame.col-md-6
            iframe.video__frame_video(src="https://www.youtube.com/embed/OQkY_iKxBjQ", frameborder="0")
