section.delivery#delivery
    .container
        .delivery__block
            .content__block
                .content__block_label
                    h2 Доставка табличек с нужным адресом
                .content__block_text
                    p Все адресные знаки вначале тщательно проверяются, а потом упаковываются. Затем мы передаем их либо на точку самовывоза, либо курьеру, либо компании-перевозчику.
                    p Срок курьерской доставки – около 4 часов. Если вы выберете вариант доставки транспортной службой, то срок увеличится до 3-4 дней.
                    p Сколько стоит доставка почтой
                    p Мы не делаем наценки на упаковку и передачу вашего заказа в офис транспортной компании. Доставка почтой всегда оплачивается отдельно – вами, в момент получения заказа.
                    p Уточнить стоимость вы можете в офисе транспортной компании. Мы сотрудничаем с такими службами доставки: СДЭК, DPD DHL, Почта России.
            .content__block
                .content__block_label
                    h2= 'Доставка курьером адресной таблички ' + city.prepositionalCity
                .content__block_text
                    p= 'Если вы планируете сделать заказ с доставкой курьером, упомяните об этом сразу же в момент оформления заявки. Стоимость такого варианта доставки – 150 рублей.'
                    p= 'Мы обязательно согласуем время и, пожеланию клиента, проинформируем о готовности заказа по телефону или посредством электронной почты.'
                    p= 'Как оформить заказ самовывозом'
                    p= 'У наших клиентов всегда есть возможность заказать адресные таблички и забрать их самостоятельно. В этом случае за доставку вообще ничего платить не понадобится.'
                    p= 'Оплатить оставшуюся сумму за заказ вы можете на точке самовывоза. Убедитесь, что ваша табличка именно такая, как вы и хотели, и только после этого передавайте деньги!'
                    p= 'С информацией о возврате можно ознакомиться '
                        a(href="/vozvrat.txt") здесь
                        span .
            .delivery__block_logo
                img(src="/dist/image/delivery/cdek.png", alt="CDEK")
                img(src="/dist/image/delivery/dpd.png", alt="dpd")
                img(src="/dist/image/delivery/dhl.png", alt="DHL")
                img(src="/dist/image/delivery/postmailru.png", alt="Почта России")
            .delivery__block_man
                

