section.pay
    .container
        .pay__block
            .pay__block-first
                .content__block
                    .content__block_label
                        h2 Как сделать заказ с предоплатой 
                    .content__block_text
                        p= 'Надомный знак может стать оригинальным подарком или радовать вас несколько лет без замены! Только учитывайте, что мы передаем заказ в производство после получения аванса.'
                        p= 'Сумма аванса составляет от 300 до 500 рублей и зависит от того, какова будет итоговая стоимость вашего заказа. Сумму назовет менеджер после того, как вы уточните все нюансы заказа. Ведь световые вывески дороже пластиковых.'
                        p= 'Куда оплатить изготовление табличек?'
                        p= 'Наши клиенты могут выбрать любой удобный для себя способ, в том числе перечисление на банковскую карту Visa, Mastercard, МИР, оплату на расчетный счет Сбербанка, Тинькофф Банка, а также paypal, или СМС-платеж на Билайн, Мегафон, Теле2 или МТС.'
                        p= 'Владельцы коттеджей, дачных и жилых домов остаются довольны качеством нашего сервиса. Многим нравится, что оплатить заказ можно наличными – курьером или на точке самовывоза.'
                a(href="/oplata") 
                        .button Оплатить заказ                
            .pay__block_logo
                img(src="/dist/image/pay/visa-master.png", alt="Visa Mastercard")
                img(src="/dist/image/pay/mir.png", alt="МИР")
                img(src="/dist/image/pay/paypal.png", alt="PayPal")
                img(src="/dist/image/pay/sberbank-online.png", alt="Сбербанк Онлайн")
                img(src="/dist/image/pay/megafon.png", alt="Мегафон")
                img(src="/dist/image/pay/beeline.png", alt="Билайн")
                img(src="/dist/image/pay/mts.png", alt="МТС")
                img(src="/dist/image/pay/tele2.png", alt="TELE2")
                img(src="/dist/image/pay/tinkoff.png", alt="Тинькофф банк")
            .pay__block-second
                .content__block
                    .content__block_label
                        h2 Когда понадобится оплатить? 
                    .content__block_text
                        p= 'Изготовление домовых знаков возможно только после получения авансового платежа. Для конструкций стандартных форм, по шаблону, он будет меньше. Если нужно изготовить световую табличку или разрабатывается макет для индивидуального дизайна – аванс будет выше.'
                        p= 'На изготовление надомного знака из современных материалов нам понадобится от 1-2 часов до 1-2 дней. Менеджер обязательно свяжется с вами и уточнит все сроки.'
                        p= 'Есть ли скидки?'
                        p= 'Да, наши клиенты могут воспользоваться дополнительными скидками при заказе указателей улиц. Скидки распространяются и на шаблонные решения, и на таблички, выполненные по индивидуальному дизайну.'
                        p= 'Величина скидки – от 10 до 20%, зависит от количества указателей в вашем заказе. Очень удобно и выгодно заказывать сразу несколько знаков на дом – например, вместе с соседями.'
