section#seoText.seoText
    .container
        .seoText__content
            .seoText__content_text
                .content__block
                    .content__block_label
                        h2= "Табличка с адресом на дом: цена"
                    .content__block_text
                        p= 'Можно заказать табличку с адресом на частный дом ' + city.prepositionalCity + ' по низкой цене, но с гарантией качества. Для того, чтобы получить экономичную вывеску с названием улицы, выберите одну из стандартных форм – прямоугольную или округлую.'
                        p= 'Для вашего заказа используем качественные материалы: прочный гладкий одноцветный пластик ПВХ, немецкие пленки oracal для создания цветных надписей и ламинации.'
                        p= 'Световые вывески'
                        p= 'Аппликация пленкой может выполняться в тот же день, как только заказ поступит в производство. Для сборки конструкции со светодиодами понадобится от 1 рабочего дня.'
                        p= '«Фонари» или надомные знаки со светодиодной подсветкой отличаются яркостью изготовления, долговечностью и оригинальностью. Для частных домов это будет не только элемент навигации, но и дополнительный источник освещения.'
                .content__block
                    .content__block_label
                        h2= "Сроки изготовления"
                    .content__block_text
                        p= 'Хотите купить табличку с адресом дома/дачи? Рабочие приступят к вашему заказу сразу после получения заявки и перечисления аванса. Срок изготовления – до 1-2 дней. Простые пластиковые изготовим за несколько часов, а для сборки светодиодного «фонаря» понадобится больше времени.'
                        p= 'На каждом этапе мы обязательно контролируем качество – от резки по форме до аппликации пленкой, ламинации и упаковки.'
                        p= 'Как установить табличку'
                        p= 'Во всех указателях уже есть необходимые крепежные отверстия. Вам останется только вкрутить саморезы, и табличка закреплена.'
                        p= 'Мы поможем выбрать и форму, и цвет, чтобы изделие гармонично смотрелось на деревянном фасаде, а также на сайдинге или на кирпичной облицовке.'