section.video#video
    .container
        .video__content.col-md-6
            .content__block
                .content__block_label
                    h2= 'Изготовление табличек с адресом и названием улицы ' + city.prepositionalCity
                .content__block_text
                    p= 'Табличка с названием улицы – важная часть оформления фасада частного дома. Иногда такие таблички вешают еще и на забор. Но все равно указатели должны соответствовать общей стилистике здания.'
                    p= 'Мы изготовим табличку с адресом частного дома по Госту, при этом никак не ограничивая дизайнерские фантазии. Это может быть как резная вывеска, так и полноценный световой короб.'
                    p= 'Особенности пластиковых и композитных указателей'
                    p= 'Уличные указатели из пластика ПВХ декорируются аппликацией пленкой. Такие знаки долговечны, не портятся ни от жары, ни от холода, не деформируются.'
                    p= 'Таблички с названиями улиц могут изготавливаться и из других качественных материалов – композитного алюминия, устойчивого к механическим воздействиям, ударам.'
            .content__block
                .content__block_label
                    h2= 'Гарантия качества уличных указателей'
                .content__block_text
                    p= 'На все наши конструкции мы предоставляем полную гарантию. Продолжительность периода эксплуатации зависит от того, из каких материалов выполнены изделия.'
                    p= 'Самые долговечные таблички с адресом – из композитного алюминия, дополненные сверху ламинирующей пленкой для защиты. На такие указатели мы даем 5 лет гарантии.'
                    p= 'Выбор дизайна'
                    p= 'Для того, чтобы ваш адресный знак соответствовал фасаду или забору, мы предоставляем широкие возможности выбор цветов немецкой пленки oracal, можем реализовать любой шрифт и форму.'
                    p= 'Также возможен выбор габаритов: размеры адресной таблички: ширина - 60 см, высота от 10 до 37 см. Все важные особенности конструкции упомяните, пожалуйста, в заявке.'
        .video__frame.col-md-6
            iframe.video__frame_video(src="https://www.youtube.com/embed/OQkY_iKxBjQ", frameborder="0")
