section#seoText.seoText
    .container
        .seoText__content
            .seoText__content_text
                .content__block
                    .content__block_label
                        h2= "Таблички с изображениями или под сменную информацию"
                    .content__block_text
                        p= 'У нас вы можете заказать офисную табличку: цена от 1200 руб. При этом мы гарантируем использование качественных материалов: возможно даже изготовление латунных табличек с лазерной гравировкой.'
                        p= 'Стоимость рассчитывается индивидуально, в зависимости от особенностей вашего заказа. Оформите заявку, и менеджер вам перезвонит для согласования деталей.'
                .content__block
                    .content__block_label
                        h2= "Доставка табличек для офиса " + city.prepositionalCity
                    .content__block_text
                        p= 'Мы практикуем разные способы изготовления табличек для офисных центров. Вы можете купить табличку на дверь офиса с аппликацией пленкой, если интересует бюджетный вариант, или отдать предпочтение более презентабельному изделию из металла.'
                        p= 'На этапе оформления заказа обсудим, какую информацию нужно нанести. Это может быть и название должности, и ФИО сотрудника, и логотип компании.'