section.video#video
    .container
        .video__content.col-md-6
            .content__block
                .content__block_label
                    h2= 'Изготовление офисных табличек ' + city.prepositionalCity + ' на заказ' 
                .content__block_text
                    p= 'Предлагаем заказать изготовление офисных табличек ' + city.prepositionalCity + ' - металлические, пластиковые или из оргстекла. Обеспечиваем полную гарантию на изделия и предоставляем сертификаты качества на выбранные материалы.'
                    p= 'Вы сами выбираете метод оформления лицевой панели. Возможет метод лазерной гравировки и способ оклейки пленкой оракал.'
            .content__block
                .content__block_label
                    h2= 'Офисные таблички на дверь: цены'
                .content__block_text
                    p= 'Цены на изготовление табличек для офиса ' + city.prepositionalCity + ' зависят от размера таблички, от необходимости разработки макета, от выбранного дизайна.'
                    p= 'Также имеет значение количество одновременно заказанных табличек: чем больше объем заказанной вами партии информационных указателей, тем ощутимее наши скидки.'
        .video__frame.col-md-6
            iframe.video__frame_video(src="https://www.youtube.com/embed/OQkY_iKxBjQ", frameborder="0")
