section#seoText.seoText
    .container
        .seoText__content
            .seoText__content_text
                .content__block
                    .content__block_label
                        h2= "Практичные глянцевые таблички"
                    .content__block_text
                        p= 'Класс энергоэффективности для дома определяется почти так же, как и для бытовой техники. Определяется, сколько тепла расходуется на обогрев и сколько его тратится впустую.'
                        p= 'После того, как все исследования и замеры проведены, вам останется только купить табличку категории энергоэффективности здания. Мы изготавливаем изделия определенных размеров в соответствии со стандартами.'
                .content__block
                    .content__block_label
                        h2= "Доставка табличек" + city.prepositionalCity
                    .content__block_text
                        p= 'Доставляем таблички для многоквартирного дома по адресу. Также вы можете заказать табличку класс энергоэффективности здания для мест общественного и промышленного назначения.'
                        p= 'Существует три возможных способа доставки: почтовые службы, самовывоз и курьер. За курьерскую доставку понадобится доплатить.'