section.video#video
    .container
        .video__content.col-md-6
            .content__block
                .content__block_label
                    h2= 'Таблички класс энергоэффективности  на заказ ' + city.prepositionalCity
                .content__block_text
                    p= 'Согласно последних законодательных изменений, специалисты устанавливают классы энергобезоепасности для зданий, а затем нужно заказать изготовление таблички класс энергоэффективности дома ' + city.prepositionalCity + '.'
                    p= 'Такая табличка указывает, насколько измеренные показатели соответствуют требованиям нормативов в области энергопотребления. Жилье в домах с высоким классом будет считаться более престижным и дорогим.'
            .content__block
                .content__block_label
                    h2= 'Табличка категория энергоэффективности дома: цена'
                .content__block_text
                    p= 'У нас цены на изготовление табличек категории энергоэффективности здания ' + city.prepositionalCity + ': от 700 руб/шт. Стоимость зависит от объема вашего заказа: при заказе комплекта для фасадов зданий мы предоставляем скидку.'
                    p= 'Класс энергоэффективности здания с указанием соответствия нормативов обязательно вносится в энергетический паспорт. Но он также должен быть указан и на фасаде, для чего и заказывают табличку.'
        .video__frame.col-md-6
            iframe.video__frame_video(src="https://www.youtube.com/embed/OQkY_iKxBjQ", frameborder="0")
