section.delivery#delivery
    .container
        .delivery__block
            .content__block
                .content__block_label
                    h2 Выбирайте самый простой способ доставки
                .content__block_text
                    p Каждый клиент может выбрать удобный способ доставки адресного знака. На нашем сайте возможно выбрать такие варианты доставки: самовывоз, курьер или почтовые службы.
                    p Курьер привезет вам знак через 4 часа (время можно обсудить дополнительно), а почтовые службы транспортируют изделие дольше, до 4 дней.
                    p Стоимость доставки
                    p Нашу продукцию можно забрать самовывозом, и это абсолютно бесплатно. Если вам нужна курьерская доставка, то услуги курьера оплачиваются дополнительно.
                    p Что же касается транспортных служб, то вы можете выбрать: СДЭК, DPD DHL или Почту России. Услуги доставки в этом случае оплачиваются дополнительно, в офисе компании-перевозчика.
            .content__block
                .content__block_label
                    h2= 'Доставка курьером таблички с номером дома ' + city.prepositionalCity
                .content__block_text
                    p= 'Можем доставить номерной знак до двери офиса иди дома. Услуга курьерской доставки стоит 150 рублей и добавляется к стоимости изготовления изделия.'
                    p= 'Наш курьер обязательно позвонит вам перед тем, как приехать. Оплатить остаток средств вы сможете курьеру после того, как убедитесь, что с заказом все в порядке.'
                    p= 'Самовывоз на нашем производстве'
                    p= 'Для тех, кто хочет оформить заказ с самовывозом, нужно сразу упомянуть такую необходимость при оформлении заказа. Изготовленный и упакованный заказ передаем на пункт выдачи.'
                    p= 'На пункте выдачи можете посмотреть качество изделия, убедиться, что надпись выполнена именно так, как вы и хотели. Только после этого вы забираете номерной знак.'
                    p= 'С информацией о возврате можно ознакомиться '
                        a(href="/vozvrat.txt") здесь
                        span .
            .delivery__block_logo
                img(src="/dist/image/delivery/cdek.png", alt="CDEK")
                img(src="/dist/image/delivery/dpd.png", alt="dpd")
                img(src="/dist/image/delivery/dhl.png", alt="DHL")
                img(src="/dist/image/delivery/postmailru.png", alt="Почта России")
            .delivery__block_man
            
                

