section.pay
    .container
        .pay__block
            .pay__block-first
                .content__block
                    .content__block_label
                        h2 Таблички для частных домов по выгодным ценам
                    .content__block_text
                        p= 'У нас вы можете заказать указатели улиц из современных материалов. Всегда предоставляем гарантию. Но для передачи заказа в производство нужен аванс – 300-500 рублей в зависимости от итоговой суммы заказа.'
                        p= 'Адресные таблички изготавливаются на протяжении 1-2 дней. После того, как мы получим первую часть платежа, мы сообщим точное время, когда будет готов ваш заказ.'
                        p= 'Как оплатить'
                        p= 'Металлические или пластиковые номерные знаки можно оплатить посредством СМС на Билайн, Мегафон, Теле2 или МТС, а также на банковские реквизиты Сбербанка, Тинькофф Банка или paypal. Для тех, кто хочет воспользоваться платежом на банковскую карту, есть реквизиты Visa, Mastercard, МИР.'
                        p= 'Классические стандартные или объемные резные таблички можно заказать на условиях самовывоза. В этом случае внести вторую часть платежа можно на месте, в день выдачи заказа'
                a(href="/oplata") 
                        .button Оплатить заказ
            .pay__block_logo
                img(src="/dist/image/pay/visa-master.png", alt="Visa Mastercard")
                img(src="/dist/image/pay/mir.png", alt="МИР")
                img(src="/dist/image/pay/paypal.png", alt="PayPal")
                img(src="/dist/image/pay/sberbank-online.png", alt="Сбербанк Онлайн")
                img(src="/dist/image/pay/megafon.png", alt="Мегафон")
                img(src="/dist/image/pay/beeline.png", alt="Билайн")
                img(src="/dist/image/pay/mts.png", alt="МТС")
                img(src="/dist/image/pay/tele2.png", alt="TELE2")
                img(src="/dist/image/pay/tinkoff.png", alt="Тинькофф банк")
            .pay__block-second
                .content__block
                    .content__block_label
                        h2 Возможен ли наложенный платеж 
                    .content__block_text
                        p= 'Те наши клиенты, что выбирают уличные вывески с самовывозом или курьерской доставкой, могут оплатить заказ представителям нашей компании.'
                        p= 'Если вы не хотите оплачивать до того, как увидите изделие, можете заказать отправку транспортными компаниями с наложенным платежом. В этом случае стоимость доставки будет включать в себя еще и комиссию за отправку денег.'
                        p= 'Выгодные цены'
                        p= 'При заказе уличных вывесок из пластика или металлических можно воспользоваться специальным предложением. Если вы закажете несколько информационных знаков с адресом и номером, то можете получить скидку до 20% на весь заказ.'
                        p= 'Чем больше табличек вы закажете, тем выгоднее будут скидки. Это очень удобно для владельцев участков в дачных поселках и жителей одной улицы.'
