section#seoText.seoText
    .container
        .seoText__content
            .seoText__content_text
                .content__block
                    .content__block_label
                        h2= "Адресные таблички с номером: цена"
                    .content__block_text
                        p= 'Среди наших клиентов много владельцев загородных домов, и все они остаются довольны и скоростью выполнения заказа, и доступной ценой. Предлагаем заказать адресную табличку с номером дома/дачи ' + city.prepositionalCity + ' со скидками!'
                        p= 'У нас действуют специальные условия покупки на заказы от 3 единиц. Если вы выберете сразу 3-5 табличек, то можете получить дополнительно 20% скидки.'
                        p= 'Материалы высокого качества'
                        p= 'На нашем производстве мы используем только проверенные первоклассные материалы, в том числе гладких ПВХ пластик толщиной 3 мм или особо прочный композитный алюминий, а также пленку oracal с повышенной светостойкостью.'
                        p= 'Если нужна домовая табличка повышенной прочности, можете выбрать вариант из композита с ламинацией. На такие указатели номера мы предоставляем гарантию 5 лет.'
                .content__block
                    .content__block_label
                        h2= "Каждый клиент может заказать уникальную табличку"
                    .content__block_text
                        p= 'У нас вы можете купить табличку с адресом и номером дома/дачи в индивидуальном дизайне. Ведь только вы знаете, каком должен быть адресный указатель на дом.'
                        p= 'Если необходима разработка макета, то срок изготовления несколько увеличивается. Работы усложняются и в том случае, если нужна надпись особым шрифтом. Указатели по стандарту изготавливаются быстро, за 1-3 часа.'
                        p= 'Таблички с крепежными элементами'
                        p= 'Мы предложим различные виды оформления табличек с наименованиями улиц. Также обязательно предусмотрим все крепежные отверстия в пластинках, чтобы вам оставалось только закрепить изделие.'
                        p= 'Наши адресные таблички подходят для любых домов, вне зависимости от того, из каких материалов выполнен фасад. Кирпич, сайдинг, древесина – все это можно дополнить качественным номерным знаком.'