section.video#video
    .container
        .video__content.col-md-6
            .content__block
                .content__block_label
                    h2= 'Изготовление табличек с номером дома ' + city.prepositionalCity
                .content__block_text
                    p= 'Предлагаем заказать два варианта табличек – с названием улицы или только с номером дома. Также возможно производство комбинированных вариантов, где указана вся необходимая информация.'
                    p= 'Быстро и с гарантией изготовим табличку с номером дома/дачи по Госту. Такие уличные указатели полностью соответствуют требованиям контролирующих служб и не вызывают сложностей в креплении.'
                    p= 'Как заказать изготовление домовых знаков'
                    p= 'Наша компания изготавливает адресные знаки по вашему предварительному заказу, используя современные технологии и качественные материалы. Можем реализовать для вас несколько вариантов изготовления, различающихся как цветом, так и формой.'
                    p= 'Можете купить адресный знак с номером из прочного и температуростойкого пластика ПВХ или отдать предпочтение более долговечному, «элитному» варианту – из композита.'
            .content__block
                .content__block_label
                    h2= 'С какими технологиями изготовления мы работаем'
                .content__block_text
                    p= 'При оформлении заказа просим сразу указывать – есть ли необходимость разработки индивидуального дизайна. В этом случае мы делаем новый макет и используем особые технологии резки.'
                    p= 'Выбирайте современные материалы и цвет пленки (для фона и букв), а также уточните, если есть необходимость в светодиодной подсветке. Возможно изготовление надомных знаков любой формы.'
                    p= 'Габариты и оформление'
                    p= 'Лицевую панель с названиями улиц оформляем в контрастных цветах. Обычно фон делается синим или коричневым, а буквы – белым. Шрифт и размер можем сделать практически любой, по вашему выбору.'
                    p= 'Размеры таблички с адресом и номером дома: ширина - 60 см, высота от 10 до 37 см. помимо прямоугольных форм, возможны овальные или полукруглые. Размер можно подобрать в соответствии с площадью фасада.'
        .video__frame.col-md-6
            iframe.video__frame_video(src="https://www.youtube.com/embed/OQkY_iKxBjQ", frameborder="0")
