section.delivery#delivery
    .container
        .delivery__block
            .content__block
                .content__block_label
                    h2 Доставка
                .content__block_text
                    p Обеспечиваем изготовление адресного указателя в день заказа. После этого тщательно упаковываем табличку и передаем ее на отправку в выбранную транспортную компанию.
                    p Сотрудничаем с такими компаниями-перевозчиками: Почта России, СДЭК, DPD, DHL. Стоимость доставки рассчитывается по тарифам перевозчиков.
                    p Сколько ждать заказ?
                    p Срок доставки готового заказа в другой регион – от 2 до 4 дней. Мы передаем аншлаг максимально быстро, а вы получаете трек-номер для отслеживания.
                    p Если заказчику нужно получить указатель с номером дома и адресом как можно быстрее, он всегда может приехать на пункт выдачи, предварительно согласовав время.
            .content__block
                .content__block_label
                    h2= 'Доставка курьером аншлага ' + city.prepositionalCity
                .content__block_text
                    p= 'Выбирайте подходящие размеры аншлага: ширина - 60 см, высота от 10 до 37 см. Доставка курьером по городу возможна в день изготовления, через 3-4 часа при выборе стандартных форм.'
                    p= 'При необходимости монтажа одной или нескольких табличек сроки установки оговариваются индивидуально. Достаточно только позвонить менеджеру и все уточнить.'
                    p= 'Как быстро приедет курьер?'
                    p= 'Само изготовление занимает около часа – при условии, что вы выбрали стандартную конструкцию. Это очень удобно для представителей ТСЖ или для владельцев дач в поселках.'
                    p= 'Стоимость быстрой курьерской доставки – 150 рублей. При желании вы можете забрать свой заказ самостоятельно на пункте выдачи в оговоренное время.'
                    p= 'С информацией о возврате можно ознакомиться '
                        a(href="/vozvrat.txt") здесь
                        span .
            .delivery__block_logo
                img(src="/dist/image/delivery/cdek.png", alt="CDEK")
                img(src="/dist/image/delivery/dpd.png", alt="dpd")
                img(src="/dist/image/delivery/dhl.png", alt="DHL")
                img(src="/dist/image/delivery/postmailru.png", alt="Почта России")
            .delivery__block_man
                

