section#seoText.seoText
    .container
        .seoText__content
            .seoText__content_text
                .content__block
                    .content__block_label
                        h2= "Адресные аншлаги на дом: цена"
                    .content__block_text
                        p= 'Чтобы заказать аншлаг на дом ' + city.prepositionalCity + ', нужно оформление заказа. Менеджер свяжется с вами и уточнит все детали заказа для передачи на производство. Таблички с названиями улицы изготавливаются в самые сжатые сроки.'
                        p= 'Как мы работаем? После получения заявки с вами связывается менеджер и уточняет тип выбранного макета. После этого производится металлическая или пластиковая форма, делается фон специальной пленкой, наносится изображение аппликацией и адрес.'
                        p= 'Технология нашей работы'
                        p= 'Изготовление стандартных адресных знаков выполняется за несколько часов. Индивидуальные дизайны с разработкой макета стоят несколько дороже и потребуют больше времени.'
                        p= 'Таблички с номерами подъездов и указателями улицы помогают в навигации, а также завершают эстетическое оформление фасада.'
                .content__block
                    .content__block_label
                        h2= "Преимущества индивидуального изготовления"
                    .content__block_text
                        p= 'Предлагая купить аншлаг с адресом дома, мы обеспечиваем весь комплекс услуг, от изготовления в нужном дизайне и цвете до доставки на объект и монтажа.'
                        p= 'Для жилых домов, дачных домиков и просторных коттеджей в несколько этажей мы создадим указатели в нужном цвете с аппликацией изображения. Для выбора доступно более 7 оттенков.'
                        p= 'Как купить на выгодных условиях'
                        p= 'Знаки адресации производятся и со светодиодной подсветкой при необходимости. В этом случае сроки изготовления несколько выше, но и аншлаг будет заметен даже в темноте.'
                        p= 'При заказе одновременно 2 и более табличек действуют дополнительные скидки в размере 10-20%. Гарантия – до 5 лет, при заказе ламинированного варианта.'