section.video#video
    .container
        .video__content.col-md-6
            .content__block
                .content__block_label
                    h2= 'Изготовление адресных аншлагов ' + city.prepositionalCity
                .content__block_text
                    p= 'Предлагаем изготовление адресных аншлагов – табличек с указанием номера дома и названия улицы. Изготовим адресный аншлаг по Госту, чтобы у проверяющих коммунальных служб не возникало вопросов.'
                    p= 'Такие таблички могут быть с подсветкой или современные металлические, рельефные или гладкие. Сделаем нужный размер основы, цвет и дизайн по вашему заказу, в том числе варианты: стандарт (прямоугольной, полукруглой, овальной или арочной формы), а также уличные «фонари», модерн или ретро со специальным расположением текста.'
                    p= 'Популярные варианты'
                    p= 'Выбирайте световые или стандартные таблички из металла или из прочного долговечного пластика. Для аппликации надписей используем либо гравировку, либо немецкую пленку ORACAL высокого качества с защитной ламинацией сверху.'
                    p= 'Вы можете выбрать любой нужный дизайн и размер в соответствии с фасадом здания. Изготавливаем таблички разных форм и стандартных габаритов по ГОСТу.'
            .content__block
                .content__block_label
                    h2= 'Когда выгодно изготовление аншлагов на заказ'
                .content__block_text
                    p= 'У нас можно купить номер дома с установкой. В комплект уже входят все крепления, так что произвести монтаж вы сможете и самостоятельно.'
                    p= 'Вы выбираете материал основания, цвет пленки, способ размещения букв и размер шрифта. Мы изготавливаем современный аншлаг с учетом всех ваших пожеланий, причем сроки исполнения оговариваем сразу, уже в момент заключения сделки.'
                    p= 'Кому понадобятся?'
                    p= 'Наши указатели с адресом подойдут для уличного использования и устанавливаются на фасадах многоквартирных и частных домов, в коттеджных и дачных поселках. Предоставляем полную гарантию на материалы.'
                    p= 'К нам обращаются управляющие многоквартирных домов и клиенты из современных поселков с частными домами. Для больших заказов с доставкой гарантируем специальные цены.'
        .video__frame.col-md-6
            iframe.video__frame_video(src="https://www.youtube.com/embed/OQkY_iKxBjQ", frameborder="0")
