section.delivery#delivery
    .container
        .delivery__block
            .content__block
                .content__block_label
                    h2 доставка
                .content__block_text
                    p Как мы доставляем адресные вывески
                    p Обычно ваш заказ выполняется в тот же день, если речь идет о простой или рельефной вывеске. Для сборки конструкции со светодиодами потребуется немного больше времени.
                    p Отправка возможна такими транспортными компаниями: СДЭК, DPD DHL, Почта России. Выбирайте удобного перевозчика – с выгодными тарифами или того, чей офис ближе к дому.
                    p Безопасная упаковка для ваших табличек
                    p В комплектацию заказа входит собственно табличка, все необходимые крепления, а также световые элементы, если они предусмотрены конструкцией. Мы упаковываем все очень тщательно, так что повреждения при перевозке исключены.
                    p Срок службы обычной доставки транспортными компаниями – до 4 дней, но все зависит от удаленности вашего отделения.
            .content__block
                .content__block_label
                    h2= 'Доставка курьером адресной вывески ' + city.dativeCity
                .content__block_text
                    p= 'Если вы хотите получить табличку максимально быстро, но не хотите за ней ехать, можете оформить курьерскую доставку. Наши курьеры могут принимать оплату за заказ.'
                    p= 'Перед выездом обязательно согласуем время. Стоимость курьерской доставки – 150 рублей. Сумма плюсуется к заказу.'
                    p= 'Как забрать самовывозом'
                    p= 'Информационную панель, изготовленную по вашему макету, можно забрать с нашего пункта выдачи. Менеджер позвонит вам и сообщит, в какое время готовое изделие будет передано.'
                    p= 'Это самый экономичный способ доставки. А благодаря комплекту крепления повесить табличку вы сможете и самостоятельно.'
                    p= 'С информацией о возврате можно ознакомиться '
                        a(href="/vozvrat.txt") здесь
                        span .
            .delivery__block_logo
                img(src="/dist/image/delivery/cdek.png", alt="CDEK")
                img(src="/dist/image/delivery/dpd.png", alt="dpd")
                img(src="/dist/image/delivery/dhl.png", alt="DHL")
                img(src="/dist/image/delivery/postmailru.png", alt="Почта России")
            .delivery__block_man

                

