section.pay
    .container
        .pay__block
            .pay__block-first
                .content__block
                    .content__block_label
                        h2 Оплата
                    .content__block_text
                        p= 'Почему нужна предоплата?'
                        p= 'На табличку мы наносим ваш адрес, название улицы и номер дома. Небольшой аванс перед началом изготовления вывески – гарантия того, что заказ вам действительно необходим.'
                        p= 'Мы предусмотрели различные способы оплаты за заказ, в том числе через paypal, посредством карт Visa, Mastercard, МИР, на расчетный счет в Тинькофф Банк, Сбербанк. Есть возможность заплатить и через телефон на Билайн, Мегафон, Теле2 или МТС.'
                        p= 'Какой аванс нужен'
                        p= 'В качестве аванса за изготовление загородных указателей с номером переведите 300-500 рублей платежом на выбранные реквизиты. Не оплачивайте до того, как обсудите заказ с менеджером. Только после уточнения всех нюансов мы называем итоговую стоимость.'
                        p= 'Если табличка нужна быстро, уже через 3-4 часа после заказа вы можете забрать ее на пункте самовывоза и оплатить на месте оставшуюся часть средств.'
                a(href="/oplata") 
                        .button Оплатить заказ
            .pay__block_logo
                img(src="/dist/image/pay/visa-master.png", alt="Visa Mastercard")
                img(src="/dist/image/pay/mir.png", alt="МИР")
                img(src="/dist/image/pay/paypal.png", alt="PayPal")
                img(src="/dist/image/pay/sberbank-online.png", alt="Сбербанк Онлайн")
                img(src="/dist/image/pay/megafon.png", alt="Мегафон")
                img(src="/dist/image/pay/beeline.png", alt="Билайн")
                img(src="/dist/image/pay/mts.png", alt="МТС")
                img(src="/dist/image/pay/tele2.png", alt="TELE2")
                img(src="/dist/image/pay/tinkoff.png", alt="Тинькофф банк")
            .pay__block-second
                .content__block
                    .content__block_label
                        h2 Скидки на изделия
                    .content__block_text
                        p= 'Если вам необходимо сразу несколько табличек, вы можете оформить заказ с дополнительной скидкой. Величина скидки составляет от 10 до 20%. Ее выгодно использовать, если нужны одинаковые таблички на всю улицу.'
                        p= 'Также для экономии можно выбрать стандартную прямоугольную форму. Еще один нюанс: самые экономные таблички – без ламинации, но на них мы не даем дополнительной гарантии.'
                        p= 'Возможен ли наложенный платеж?'
                        p= 'Если вы забираете табличку с самовывозом, то и оплатить можно сразу. Мы упакуем вывеску после того, как вы убедитесь, что все ваши требования выполнены.'
                        p= 'В том случае, если нужно убедиться в качестве изделия, доставленного транспортными службами, вы можете выбрать наложенный платеж. Но в этом случае понадобится еще оплатить комиссию перевозчику.'
