section.review#review
    .container
        p.review__label отзывы клиентов
        .slider
            .slider__box
                .slider__box_image
                    img(src="/dist/image/reviews/first.jpg", alt="Первый отзыв")
                .slider__box_text
                    p.slider__box_text-common= 'Выбрали для своего дома металлическую табличку – номерной знак на основе из композитного алюминия. Очень порадовало качество и прочность. Цвет выбрали яркий, заметный. Изделие получилось ярким и оригинальным только за счет оттенка (форму подобрали стандарт, чтобы сэкономить).'
                    p.slider__box_text-common= 'Все привезли и установили, отлично!'
                    p.slider__box_text-whois= 'Ангелина Троцик, '
                    p.slider__box_text-whois= 'Частник, г. ' + city.city
            .slider__box
                .slider__box_image
                    img(src="/dist/image/reviews/second.jpg", alt="Второй отзыв")
                .slider__box_text
                    p.slider__box_text-common= 'Для своего коттеджа выбрали световые домовые знаки. Даже вечером название улицы отлично видно. Когда забирали заказ, нам все показали, рассказали, как подключить. Мы сначала все рассмотрели, убедились в качестве, а потом только внесли оплату. Подумали, что это самый удобный способ обезопасить свои деньги.'
                    p.slider__box_text-common= 'Остались более чем довольны. Если и рекомендовать кого-то, то только вас!'
                    p.slider__box_text-whois= 'Ирина Викторовна, '
                    p.slider__box_text-whois= 'Частник, г. ' + city.city
            .slider__box
                .slider__box_image
                    img(src="/dist/image/reviews/third.jpg", alt="Третий отзыв")
                .slider__box_text
                    p.slider__box_text-common= 'Спасибо за отличную табличку на наш деревянный дачный домик! Выбрали домовой знак ретро-формы, чтобы по стилю подходило к дому. Спасибо консультанту, что посоветовал такую интересную комбинацию цвета и подобрал принт под стиль. Выбрали вариант с самовывозом, что помогло сэкономить.'
                    p.slider__box_text-common= 'Порадовало, что все крепления включены в комплект. Мы все быстро сами закрепили.'
                    p.slider__box_text-whois= 'Александр Пальчиков, '
                    p.slider__box_text-whois= 'Частник, г. ' + city.city
