section#seoText.seoText
    .container
        .seoText__content
            .seoText__content_text
                .content__block
                    .content__block_label
                        h2= "Адресные вывески на дом: цена"
                    .content__block_text
                        p= 'Что нужно, чтобы заказать вывеску с адресом ' + city.prepositionalCity + '? Исключительно ваша заявка! Есть только один нюанс: передача заказа в производство осуществляется после получения аванса в размере 300-500 рублей.'
                        p= 'Также вам нужно назвать нужный адрес. Если используется стандартный шрифт, изделие обходится дешевле. Если нужен особый шрифт, мы добавляем к стоимости еще и услуги по разработке макета.'
                        p= 'Различные виды адресных вывесок'
                        p= 'Укажите в вашей заявке, какую именно конструкцию вы хотите получить в итоге. Технические возможности нашей компании позволяют изготовить как простую табличку из композита или пластика, так и световой короб, как в наружной рекламе.'
                        p= 'По пожеланиям заказчиков создаются таблички с самым разным внешним видом. Это могут быть даже объемные буквы, выполненные тиснением или гравировкой.'
                .content__block
                    .content__block_label
                        h2= "Указатели номеров по выгодной цене"
                    .content__block_text
                        p= 'Если вы не можете найти нужный вариант из стандартных, чтобы купить вывеску с адресом дома по минимальной цене, сделайте заказ на индивидуальное изготовление. Описать все свои пожелания можно по телефону, когда вам перезвонит менеджер для согласования заказа.'
                        p= 'Также учитывайте, что металлические таблички (основа из композитного алюминия) стоят дороже пластиковых. На стоимость также влияют размеры.'
                        p= 'Оригинальные знаки с подсветкой'
                        p= 'Особенно эффектными получаются пластиковые плоские или объемные вывески, дополненные светодиодной подсветкой. Такие конструкции могут быть либо многослойными, со светодиодами внутри, либо собранными по типу углового фонаря.'
                        p= 'Цвет светодиодов можно выбрать так же, как можно выбрать оттенок пленки для декорирования таблички.'