section.video#video
    .container
        .video__content.col-md-6
            .content__block
                .content__block_label
                    h2= 'Изготовление адресных вывесок ' + city.prepositionalCity
                .content__block_text
                    p= 'У нас вы можете заказать изготовление адресных домовых табличек – как по индивидуальному заказу, так и стандартных форм. Все работы ведутся по утвержденным стандартам. Обращайтесь, если нужно изготовить адресную вывеску по Госту.'
                    p= 'Выбирайте нужный тип информационных указателей при оформлении заказа. Мы работаем как с пластиком ПВХ, так и с композитным алюминием. А для декора используем ламинацию пленкой.'
                    p= 'Металлические и пластиковые указатели улиц'
                    p= 'Вы можете выбрать указатель улицы нужной формы – прямоугольный, овальный, со скругленными углами. Также мы изготавливаем конструкции со светодиодной подсветкой, эргономичной и яркой.'
                    p= 'Таблички из качественных материалов популярны среди владельцев зданий разной площади и назначения. Особенно часто к нам обращаются представители ТСЖ, владельцы коттеджей, частных и дачных домов.'
            .content__block
                .content__block_label
                    h2= 'Указатели для зданий с адресами и названиями организаций'
                .content__block_text
                    p= 'Проверенная технология изготовления позволяет нам создавать как гладкие, так и рельефные таблички. Каждый заказ, в котором требуется индивидуальный дизайн, начинается с создания макета.'
                    p= 'Вам достаточно указать желаемые размеры адресной вывески: ширина - 60 см, высота от 10 до 37 см, а после этого сделать выбор подходящего материала и цвета. На выбор заказчика – несколько популярных вариаций цветов по стандартной цене.'
                    p= 'Вывески для загородных домов'
                    p= 'Табличка с номером дома может стать оригинальным подарком. Обращайтесь к нам за презентом для друзей на новоселье или выбирайте указатель для вашего дома. Для лицевых поверхностей мы используем проверенную временем пленку oracal.'
                    p= 'Нашу компанию рекомендуют множество клиентов. География продаж – более чем обширна. И не забывайте, что мы можем изготовить вам вывеску на фасад всего за несколько часов с момента получения заказа!'
        .video__frame.col-md-6
            iframe.video__frame_video(src="https://www.youtube.com/embed/OQkY_iKxBjQ", frameborder="0")
