section#seoText.seoText
    .container
        .seoText__content
            .seoText__content_text
                .content__block
                    .content__block_label
                        h2= 'Доставка уголков по охране труда ' + city.prepositionalCity
                    .content__block_text
                        p= 'В нашем каталоге можно выбрать и купить информационный стенд "охрана труда" из пластика разной толщины. Сюда можно размещать инструктажи, приказы, правила поведения при возникновении опасных ситуаций и способы их профилактики.'
                        p= 'Собственные производственные мощности позволяют нам изготавливать разные размеры стендов. На всю продукцию предоставляем гарантию и сертификаты соответствия.'
                .content__block
                    .content__block_label
                        h2= 'Необходимая информация для сотрудников предприятия на одном стенде'
                    .content__block_text
                        p= 'Качественно выполненные стенды обеспечивают информацию, необходимую для безопасных производственных процессов.'
                        p= 'Дизайн оформим по выбору компании – качественно выполненный стенд вполне может подходить и под евроинтерьер.'