section.video#video
    .container
        .video__content.col-md-6
            .content__block
                .content__block_label
                    h2= 'Изготовление стендов "охрана труда" ' + city.prepositionalCity
                .content__block_text
                    p= 'Предлагаем изготовление информационных стендов по технике безопасности. У нас вы можете заказать стенд по охране труда ' + city.prepositionalCity + '. Возможна реализация индивидуальных заказов: вы сами выбираете размеры стендов, а мы их производим.'
                    p= 'Для оформления заказа заполните заявку: менеджер перезвонит и согласует все нюансы по вашему заказу.'
            .content__block
                .content__block_label
                    h2= 'Стенды охрана труда: цена'
                .content__block_text
                    p= 'Купить стенд охраны труда на предприятии ' + city.prepositionalCity + ' необходимо для офисов, химических лабораторий, различных производств. Мы проконсультируем вас при заказе и подскажем, какую конструкцию лучше всего выбрать.'
                    p= 'Стенд по охране труда можно заказать на предприятии: цена от 1200 руб. Мы предлагаем готовую продукцию с перекидными системами или пластиковыми карманами.'
        .video__frame.col-md-6
            iframe.video__frame_video(src="https://www.youtube.com/embed/ZOC0I3pRG5c", frameborder="0")
