section.delivery#delivery
    .container
        .delivery__block
            .content__block
                .content__block_label
                    h2 Способы доставки
                .content__block_text
                    p Для производства простых плоских табличек нам понадобится несколько часов. Информационные указатели со светодиодной подсветкой изготавливаются дольше, до 1-2 дней.
                    p Доставка возможна курьером или почтовыми службами. Когда вы решите сделать заказ, укажите сразу, каким образом вам будет удобно получить табличку. Сотрудничаем с такими транспортными компаниями: СДЭК, DPD DHL, Почта России. 
                    p Таблички с доставкой на дом
                    p Мы передаем адресные знаки в упаковке в службы доставки, и забирать свой заказ вы будете в выбранном офисе. При оформлении заказа укажите все необходимые координаты.
                    p Упаковка готовой таблички уже входит в стоимость. Мы передаем конструкции в полной упаковке, так что беспокоиться о ее целостности не нужно. Срок доставки – около 3-4 дней.
            .content__block
                .content__block_label
                    h2= 'Доставка курьером таблички ' + city.prepositionalCity
                .content__block_text
                    p= 'Такой способ получения заказа выбирают, когда необходима максимальная оперативность. Наши курьеры доставляют заказы ежедневно, в рабочее время. Можем согласовать удобное для вас время выезда.'
                    p= 'Доставляем адресные таблички с номером дома до двери. Такая услуга оплачивается дополнительно – 150 рублей.'
                    p= 'Есть ли возможность самовывоза?'
                    p= 'Все наши клиенты имеют возможность забрать заказанные красивые таблички самовывозом. Если изделие простое, по шаблону, то уже через 3-4 часа после получения аванса за заказ его можно забирать.'
                    p= 'Менеджер обязательно свяжется с вами, чтобы сообщить, что ваш заказ уже готов. Оплатить оставшуюся сумму вы можете на месте – после того, как убедитесь, что вывеска вас полностью устраивает.'
                    p= 'С информацией о возврате можно ознакомиться '
                        a(href="/vozvrat.txt") здесь
                        span .
            .delivery__block_logo
                img(src="/dist/image/delivery/cdek.png", alt="CDEK")
                img(src="/dist/image/delivery/dpd.png", alt="dpd")
                img(src="/dist/image/delivery/dhl.png", alt="DHL")
                img(src="/dist/image/delivery/postmailru.png", alt="Почта России")
            .delivery__block_man
                

