section.pay
    .container
        .pay__block
            .pay__block-first
                .content__block
                    .content__block_label
                        h2 Аванс за указатели улиц из высококачественных материалов 
                    .content__block_text
                        p= 'Для изготовления домового знака мы используем пластиковую либо металлическую основу, а также пленку или гравировку для нанесения вашей индивидуальной информации. Естественно, такие элементы фасадного оформления не подойдут кому-то другому.'
                        p= 'Поэтому перед передачей заказа в производство необходим аванс. Минимальная сумма – 300-500 рублей. При желании, вы можете оплатить свой заказ сразу полностью, а не разбивать сумму на 2 платежа.'
                        p= 'Как оплатить?'
                        p= 'Для наших клиентов возможны любые способы оплаты, в том числе перечисление средств на банковские реквизиты в Сбербанке или Тинькофф Банке. Также можно воспользоваться популярными банковскими системами - paypal, Visa, Mastercard, МИР, на расчетный счет в Тинькофф Банк, Сбербанк.'
                        p= 'Если стандартные способы проведения платежа не подходят, воспользуйтесь платежом на телефон Билайн, Мегафон, Теле2 или МТС.'
            .pay__block_logo
                img(src="/dist/image/pay/visa-master.png", alt="Visa Mastercard")
                img(src="/dist/image/pay/mir.png", alt="МИР")
                img(src="/dist/image/pay/paypal.png", alt="PayPal")
                img(src="/dist/image/pay/sberbank-online.png", alt="Сбербанк Онлайн")
                img(src="/dist/image/pay/megafon.png", alt="Мегафон")
                img(src="/dist/image/pay/beeline.png", alt="Билайн")
                img(src="/dist/image/pay/mts.png", alt="МТС")
                img(src="/dist/image/pay/tele2.png", alt="TELE2")
                img(src="/dist/image/pay/tinkoff.png", alt="Тинькофф банк")
            .pay__block-second
                .content__block
                    .content__block_label
                        h2 Сколько стоит табличка?
                    .content__block_text
                        p= 'Для стандартных изделий, не требующих изготовления индивидуального макета, все цены уже указаны предварительно. Конструкции из пластика ПВХ будут дешевле, а из композитного алюминия – дороже.'
                        p= 'Также на стоимость влияет способ оформления лицевой панели. Аппликация пленкой oracal будет дешевле тиснения объемных букв.'
                        p= 'Есть ли скидки?'
                        p= 'Для постоянных клиентов, а также для тех, кто заказывает сразу несколько табличек или лицевых панелей, мы гарантируем приятные скидки.'
                        p= 'Величина скидки – до 20%. Максимальную скидку получают те, кто заказывает одновременно 4-5 и более адресных знаков. Чтобы уточнить сумму по вашему заказу, оставьте заявку и обсудите с менеджером все нюансы.'
