section#seoText.seoText
    .container
        .seoText__content
            .seoText__content_text
                .content__block
                    .content__block_label
                        h2= "Адресные таблички с названием улицы на дом: цена"
                    .content__block_text
                        p= 'Предлагаем заказать адресную табличку с названием улицы на дом ' + city.prepositionalCity + ' с доставкой. Наши мастера сделают конструкцию стандарт и с подсветкой. По вашему заказу подберем форму и цвет, а также характеристики светодиодов.'
                        p= 'Все, что вам нужно, - выбрать необходимую конструкцию, а также назвать нашему менеджеру нужный адрес. Помимо названия улицы и номера дома мы можем указать и другую информацию – например, название организации или фамилию владельца.'
                        p= 'Гарантии для заказчиков'
                        p= 'Для изготовления адресных табличек для частных домов мы используем исключительно современные материалы. Это прочный гладкий пластик увеличенной толщины или композитный алюминий, не требующий дополнительной защиты от влаги.'
                        p= 'Лицевую поверхность можем декорировать по вашему усмотрению. Если табличка будет украшать дверь офиса, то достаточно обычной цветной пленки. Если же она будет размещена на улице, то понадобится дополнительная защита от погодных условий.'
                .content__block
                    .content__block_label
                        h2= "Адресные таблички высокого качества"
                    .content__block_text
                        p= 'Вы сами решаете - купить табличку с названием улицы с адресом дома пластиковую или металлическую. Все нюансы дизайна можно обсудить с менеджером в момент подтверждения заказа.'
                        p= 'Композит (металлические конструкции, чаще всего прямоугольной формы или с овальными элементами) стоят дороже, но на них мы предоставляем расширенную 5-летнюю гарантию.'
                        p= 'Световые указатели для фасадов'
                        p= 'Наши клиенты могут выбирать не только из широкого ассортимента пленок, но и варианты светодиодного оформления. Подсветка в уличных вывесках может быть как наружная, так и внутренняя.'
                        p= 'Таблички с подсветкой более заметны, они хорошо видны в темноте и ощутимо улучшают навигацию на поселковых улицах и в садовых товариществах.'