section.video#video
    .container
        .video__content.col-md-6
            .content__block
                .content__block_label
                    h2= 'Изготовление табличек с адресом ' + city.prepositionalCity
                .content__block_text
                    p= 'Изготовим табличку с названием организации, номером дома, любым нужным адресом. Для тех, кто планирует заказать табличку с названием улицы по Госту, у нас действуют специальные цены.'
                    p= 'Возможна и работа с индивидуальным дизайном. Наши специалисты разработают любые макеты по вашему пожеланию, чтобы табличка с адресом соответствовала стилистике фасада.'
                    p= 'Высококачественные материалы для табличек: пластик ПВХ и композит'
                    p= 'Наши технологии изготовления позволяют выполнять заказы как на пластиковые, так и на металлические адресные вывески. Для бюджетных вариантов используется прочный пластик ПВХ увеличенной толщины. Композит считается материалом элитным и более долговечным.'
                    p= 'Возможен выбор не только материалов, но и формы. Для наших клиентов – несколько вариантов геометрических форм. Также можем изготовить объемную табличку-фонарь.'
            .content__block
                .content__block_label
                    h2= 'Выбор адресного знака'
                .content__block_text
                    p= 'Среди клиентов нашей компании – владельцы офисов и общественных помещений, а также владельцы коттеджей, представители ТСЖ и жители многоквартирных домов.'
                    p= 'Мы можем изготовить размеры таблички с названием улицы: ширина - 60 см, высота от 10 до 37 см. Так что не составит труда подобрать вариант, соответствующий габаритам здания. Также есть возможность выбрать цвет фона и букв.'
                    p= 'Цветовое оформление и дизайн'
                    p= 'Среди высококачественных материалов, которые наша компания использует для производства, - немецкие пленки oracal. Вы сами выбираете, как будет выглядеть нужный адрес.'
                    p= 'Обычно буквы оформляются контрастными – например, белыми на черном, синем или коричневом фоне. Часто предпочтение отдается синему цывету. Аппликация выполняется с высокой точностью, поэтому готовая надпись всегда выглядит аккуратно.'
        .video__frame.col-md-6
            iframe.video__frame_video(src="https://www.youtube.com/embed/OQkY_iKxBjQ", frameborder="0")
