section#seoText.seoText
    .container
        .seoText__content
            .seoText__content_text
                .content__block
                    .content__block_label
                        h2= 'Стенды с полноцветной печатью'
                    .content__block_text
                        p= 'Вы можете выбрать любой стенд для школы, цена от 1200 руб. Это может быть либо пробковая доска, либо модель с кармашками для сменной информации. Количество карманов – любое, обсуждается на этапе оформления заказа.'
                        p= 'Вы можете приобрести информационные стенды в виде полноцветной панели. Для их изготовления мы используем прочный пластик и печать высокого качества.'
                .content__block
                    .content__block_label
                        h2= 'Доставка стендов для школы ' + city.prepositionalCity
                    .content__block_text
                        p= 'Предлагаем заказать школьный информационный стенд в класс с доставкой. Наш курьер привезет доску прямо в школу и расскажет, как ее правильно установить.'
                        p= 'Мы сами производим эти изделия, поэтому возможны любые варианты дизайна, габаритов и комплектации. Нашу продукцию рекомендуют, поскольку она позволяет разместить большое количество наглядных пособий.'