section.video#video
    .container
        .video__content.col-md-6
            .content__block
                .content__block_label
                    h2= 'Изготовление стендов для школы ' + city.prepositionalCity + ' на заказ'
                .content__block_text
                    p= 'В учебных заведениях информационные стенды нужны и в вестибюле для размещения расписания, и в учительской. Предлагаем заказать изготовление стендов для школы ' + city.prepositionalCity + '. Гарантируем доступные цены.'
                    p= 'У нас вы можете оформить заказ на стенд для расписания занятий и на другие, необходимые для организации учебного процесса. Если нужно, разработаем уникальный дизайн под интерьер.'
            .content__block
                .content__block_label
                    h2= 'Стенды для школы: цена'
                .content__block_text
                    p= 'Чтобы заказать школьный информационный стенд ' + city.prepositionalCity + ', оформите заявку. На сайте нужно выбрать материал, тип и цвет, после чего вам перезвонит менеджер и согласует все нюансы.'
                    p= 'Нашу компанию рекомендуют как надежную не только потому, что мы не срываем сроки, но и потому, что мы предоставляем сертификаты на все материалы.'
        .video__frame.col-md-6
            iframe.video__frame_video(src="https://www.youtube.com/embed/ZOC0I3pRG5c", frameborder="0")
