section.delivery#delivery
    .container
        .delivery__block
            .content__block
                .content__block_label
                    h2 Отправка заказа
                .content__block_text
                    p Сроки изготовления надомных знаков – от 1 часа. В стоимость уже включена качественная и надежная упаковка, позволяющая безопасно отправлять даже рельефные таблички с индивидуальным дизайном или подсветкой.
                    p Отправку номерных адресных знаков производим следующими компаниями: СДЭК, DPD DHL. Также возможна отправка Почтой России. 
                    p Получение заказа
                    p Номерные таблички с указанием улицы, адреса можно забрать самовывозом с нашего пункта выдачи – после того, как вам позвонит менеджер.
                    p  Если вы выбираете доставку почтовыми службами, то заказ приедет к вам в срок от 2 до 4 дней. К сожалению, на оперативность служб доставки повлиять мы не можем.
            .content__block
                .content__block_label
                    h2= 'Доставка курьером адресного знака дома ' + city.prepositionalCity
                .content__block_text
                    p= 'Если нужно получить заказ максимально быстро, достаточно выбрать размеры адресного знака: ширина - 60 см, высота от 10 до 37 см и дизайн в категории стандарт или ретро.'
                    p= 'Можете выбирать любой цвет лицевой панели. Заказ будет у вас через 4 часа в среднем. Если нужны дополнительные или нестандартные крепления, это стоит оговорить заранее.'
                    p= 'Как работает курьер?'
                    p= 'Курьер с готовыми табличками (информационными указателями) выезжает по всему городу. Мы работаем, чтобы современный город украшали простые и понятные знаки навигации.'
                    p= 'Если вы хотите, чтобы знаки адресации привез курьер, упомяните об этом сразу в своем заказе. Стоимость услуги – 150 рублей.'
                    p= 'С информацией о возврате можно ознакомиться '
                        a(href="/vozvrat.txt") здесь
                        span .
            .delivery__block_logo
                img(src="/dist/image/delivery/cdek.png", alt="CDEK")
                img(src="/dist/image/delivery/dpd.png", alt="dpd")
                img(src="/dist/image/delivery/dhl.png", alt="DHL")
                img(src="/dist/image/delivery/postmailru.png", alt="Почта России")
            .delivery__block_man
                

