section.pay
    .container
        .pay__block
            .pay__block-first
                .content__block
                    .content__block_label
                        h2 Оплата за заказ 
                    .content__block_text
                        p= 'Оплатить изготовление адресных табличек из металла и из пластика можно на банковскую карту Visa, Mastercard или МИР.'
                        p= 'Также наши клиенты могут воспользоваться удобной системой платежей через СМС на телефон посредством Билайн, Мегафон, Теле2 или МТС. Удобнее оплатить заказ через банковский счет? Без проблем: Тинькофф Банк, Сбербанк, paypal.'
                        p= 'Как оплатить?'
                        p= 'Выбирая стандартный или индивидуальный дизайн адресной таблички, укажите сразу желаемый способ оплаты, чтобы менеджер передал вам реквизиты.'
                        p= 'В нашей компании передача заказа на производство выполняется только после получения аванса в размере 300-500 рублей.'
                a(href="/oplata") 
                        .button Оплатить заказ            
            .pay__block_logo
                img(src="/dist/image/pay/visa-master.png", alt="Visa Mastercard")
                img(src="/dist/image/pay/mir.png", alt="МИР")
                img(src="/dist/image/pay/paypal.png", alt="PayPal")
                img(src="/dist/image/pay/sberbank-online.png", alt="Сбербанк Онлайн")
                img(src="/dist/image/pay/megafon.png", alt="Мегафон")
                img(src="/dist/image/pay/beeline.png", alt="Билайн")
                img(src="/dist/image/pay/mts.png", alt="МТС")
                img(src="/dist/image/pay/tele2.png", alt="TELE2")
                img(src="/dist/image/pay/tinkoff.png", alt="Тинькофф банк")
            .pay__block-second
                .content__block
                    .content__block_label
                        h2 Возврат средств. Гарантии 
                    .content__block_text
                        p= 'Вы можете заплатить оставшуюся сумму за заказ таблички с адресом вашего дома на пункте самовывоза, после того, как убедитесь, что изделие соответствует общепринятым стандартам качества и вашим пожеланиям.'
                        p= 'Либо вы можете перечислить вторую часть платежа после того, как менеджер уведомит вас об исполнении заказа. Наши клиенты остаются довольные низкой ценой вне зависимости от того, какой способ оплаты выбран.'
                        p= 'Как оплатить при оформлении доставки?'
                        p= 'По заказам пластиковых табличек с доставкой предпочитаем работать с предоплатой. Можем отправить и наложенным платежом, но учитывайте, что в этом случае вам понадобится оплатить еще и комиссию службе доставки.'
                        p= 'Мы используем исключительно качественные материалы и современные технологии производства, поэтому заказы всегда соответствуют заявленным.'
