section.review#review
    .container
        p.review__label отзывы клиентов
        .slider
            .slider__box
                .slider__box_image
                    img(src="/dist/image/reviews/first.jpg", alt="Первый отзыв")
                .slider__box_text
                    p.slider__box_text-common= 'Заказали изготовление домовых адресных знаков сразу на всю улицу в дачном поселке. Выбрали металлические таблички, чтобы изделия прослужили как можно дольше. Уже на следующий день забрали заказ на точке выдачи.'
                    p.slider__box_text-common= 'Порадовала существенная скидка за большой объем (можно даже сказать, что несколько табличек мы получили бесплатно). И на доставке сэкономили, получилось очень выгодно!'
                    p.slider__box_text-whois= 'Ангелина Троцик, '
                    p.slider__box_text-whois= 'Частник, г. ' + city.city
            .slider__box
                .slider__box_image
                    img(src="/dist/image/reviews/second.jpg", alt="Второй отзыв")
                .slider__box_text
                    p.slider__box_text-common= 'Наш дом находится на пересечении улиц и раньше многие ошибались. Заказали сразу несколько домовых адресных знаков, чтобы с любой стороны было видно. Спасибо, что помогли подобрать шрифт.  Выбрали стандартный вариант по Госту – белые буквы на синем фоне. Все привезли в тот же день, и сами установили.'
                    p.slider__box_text-common= 'Порадовали и сервис, и цена! Примите нашу благодарность!'
                    p.slider__box_text-whois= 'Ирина Викторовна, '
                    p.slider__box_text-whois= 'Частник, г. ' + city.city
            .slider__box
                .slider__box_image
                    img(src="/dist/image/reviews/third.jpg", alt="Третий отзыв")
                .slider__box_text
                    p.slider__box_text-common= 'Нужен был домовой адресный знак необычного дизайна для дома, облицованного сайдингом. Выбрали вариант индивидуального дизайна со светодиодной подсветкой. Уточнили форму, цвет, способ расположения названия, а также выбрали цвет светодиодов.'
                    p.slider__box_text-common= 'Результат порадовал – на улице наш указатель точно выделяется, спасибо!'
                    p.slider__box_text-whois= 'Александр Пальчиков, '
                    p.slider__box_text-whois= 'Частник, г. ' + city.city
