section#seoText.seoText
    .container
        .seoText__content
            .seoText__content_text
                .content__block
                    .content__block_label
                        h2= "Знаки с адресом на дом: цена "
                    .content__block_text
                        p= 'Как заказать адресный знак на дом ' + city.prepositionalCity + '? Достаточно оформить заказ на изделие, выбрав форму шаблона, материал, способ декора и цвета. Также мы предоставляем широкий выбор шрифтов по стилю и размеру на усмотрение заказчика.'
                        p= 'Стоимость готового изделия зависит от того, понадобится ли разрабатывать новый шаблон или будет достаточно стандартного дизайна. Способ размещения надписей, номеров домов и названий улиц, возможен по вашему выбору.'
                        p= 'Последовательность выполнения'
                        p= 'Таблички изготавливаются в несколько этапов. Вам нужно выбрать форму из представленных, материал, цвет и отправить заявку. Менеджер свяжется и уточнит, каким должен быть вариант надписи.'
                        p= 'Если необходима внутренняя подсветка или индивидуальный дизайн – укажите, пожалуйста, это в заявке. Менеджер рассчитает итоговую стоимость и свяжется с вами. После получения аванса заказ на таблички передается в производство.'
                .content__block
                    .content__block_label
                        h2= "Уличные таблички разных размеров"
                    .content__block_text
                        p= 'Вы можете купить адресный знак дома в одном из 7 цветов, причем отдельный оттенок можно подобрать как для фона, так и для надписи. Также наши заказчики могут выбирать любые материалы – бюджетный пластик или более дорогие: сталь, композитный алюминий.'
                        p= 'Также производим объемные домовые знаки, используя технологии резки и тиснения. Можем предложить несколько разных вариантов, чтобы указатель на фасаде смотрелся гармонично.'
                        p= 'Низкие цены на таблички по вашему дизайну'
                        p= 'Если необходимо сразу несколько указателей (для подъездов ТСЖ, коттеджных поселков), мы предоставляем дополнительные скидки – до 20% от общей суммы заказа.'
                        p= 'Долговременная гарантия действует даже при заказе пластикового указателя с пленкой, а на изделия с ламинированным покрытием срок действия гарантии – 5 лет.'