section.video#video
    .container
        .video__content.col-md-6
            .content__block
                .content__block_label
                    h2= 'Изготовление адресных знаков на дом ' + city.prepositionalCity
                .content__block_text
                    p= 'Изготовим адресный знак на дом по Госту с использованием качественных материалов, металла или пластика, а также виниловой пленки. Делаем таблички с внутренней подсветкой. Форма и вид уличного знака могут отличаться: для клиентов есть большой выбор готовых макетов.'
                    p= 'Помимо стандартного, предлагаем и индивидуальный дизайн. В этом случае макет создается с нуля, а также подбирается уникальная цветовая гамма.'
                    p= 'Новый номерной знак для вашего дома – стандарт или ретро'
                    p= 'Наша компания предлагает изготовление номерных знаков из качественных материалов в соответствии с ГОСТ. Используем виниловые пленки и oracal, а также пластик ПВХ толщиной 3 мм и металл, в том числе композитный алюминий и оцинкованная сталь.'
                    p= 'Наличие собственных производственных мощностей позволяет получать лицевую поверхность нужного цвета. Также есть большой выбор готовых стандартных форм.'
            .content__block
                .content__block_label
                    h2= 'Домовые адресные знаки: дизайн по желанию заказчика'
                .content__block_text
                    p= 'Домовые адресные знаки являются неотъемлемой частью навигации в современном городе. Они устанавливаются на фасадах многоквартирных и загородных домов.'
                    p= 'И пластиковые таблички с виниловыми пленками, и металлические конструкции прямоугольной, овальной, арочной формы выглядят стильно и заметно на фасадах из любых материалов.'
                    p= 'Преимущества световых указателей'
                    p= 'Также наша компания занимается производством домовых табличек и указателей со светодиодной подсветкой. Используем экономичные световые решения, помогающие выделиться.'
                    p= 'Заказать адресные знаки с уличной подсветкой можно недорого. Наши мастера изготовят конструкцию типа «фонарь» или плоские многослойные таблички с внутренней подсветкой светодиодной лентой.'
        .video__frame.col-md-6
            iframe.video__frame_video(src="https://www.youtube.com/embed/OQkY_iKxBjQ", frameborder="0")
