section.delivery#delivery
    .container
        .delivery__block
            .content__block
                .content__block_label
                    h2 Как осуществляется доставка
                .content__block_text
                    p На изготовление одной адресной таблички простого дизайна нам понадобится минимум 1 час, после чего мы тщательно запаковываем изделие, и оно готово к отправке. Светодиодные конструкции потребуют больше времени для изготовления.
                    p Выбирайте, что вам удобнее: курьерская доставка, самовывоз или доставка транспортными компаниями, в том числе СДЭК, DPD DHL, Почта России.
                    p Отправка транспортными компаниями
                    p Готовые указатели с номерами домов и улицами мы передаем на отправку в день изготовления. Выполняем тщательную упаковку уличных указателей. В комплекте всегда все крепежи и элементы подключения для световых моделей.
                    p Обычно транспортные компании доставляют адресные таблички за 3-4 дня максимум. Вам останется только закрепить знак.
            .content__block
                .content__block_label
                    h2= 'Доставка курьером адресных указателей ' + city.dativeCity
                .content__block_text
                    p= 'У нас работают курьеры, готовые доставить вам адресную табличку с комплектом креплений максимально быстро. Вам только нужно указать необходимость курьерской доставки.'
                    p= 'Быстрее всего изготавливаются заказы стандартных форм и с простыми шрифтами. Они могут быть у вас уже через 3-4 часа после оформления заявки.'
                    p= 'Сколько стоит?'
                    p= 'Услуги курьера по доставке адресных знаков обойдутся вам в 150 рублей. Эту сумму мы добавим к общей стоимости заказа.'
                    p= 'Напоминаем, что вы можете сэкономить на доставке, если выберете вариант с доставкой самовывозом. Приехать за табличкой можно в любое удобное время.'
                    p= 'С информацией о возврате можно ознакомиться '
                        a(href="/vozvrat.txt") здесь
                        span .
            .delivery__block_logo
                img(src="/dist/image/delivery/cdek.png", alt="CDEK")
                img(src="/dist/image/delivery/dpd.png", alt="dpd")
                img(src="/dist/image/delivery/dhl.png", alt="DHL")
                img(src="/dist/image/delivery/postmailru.png", alt="Почта России")
            .delivery__block_man
                

