section.pay
    .container
        .pay__block
            .pay__block-first
                .content__block
                    .content__block_label
                        h2 Оплата за заказ 
                    .content__block_text
                        p= 'Заказы на указатели с адресом для жилых домов, многоквартирных или частных, принимаются после частичной предоплаты. Наши клиенты могут воспользоваться системами СМС-платежей Билайн, Мегафон, Теле2 или МТС.'
                        p= 'Также доступны различные варианты банковских переводов, в том числе посредством Visa, Mastercard, МИР или Тинькофф Банк, Сбербанк, paypal.'
                        p= 'Предоплата за адресные знаки'
                        p= 'Адресные указатели дома с пленкой или подсветкой стоят недорого, но минимальная предоплата все равно потребуется – в размере 300-500 рублей ориентировочно, в зависимости от общей стоимости заказа.'
                        p= 'Самые доступные варианты – стандартные наименования, для изготовления которых не потребуется макет или индивидуальное дизайнерское решение.'
                a(href="/oplata") 
                        .button Оплатить заказ            
            .pay__block_logo
                img(src="/dist/image/pay/visa-master.png", alt="Visa Mastercard")
                img(src="/dist/image/pay/mir.png", alt="МИР")
                img(src="/dist/image/pay/paypal.png", alt="PayPal")
                img(src="/dist/image/pay/sberbank-online.png", alt="Сбербанк Онлайн")
                img(src="/dist/image/pay/megafon.png", alt="Мегафон")
                img(src="/dist/image/pay/beeline.png", alt="Билайн")
                img(src="/dist/image/pay/mts.png", alt="МТС")
                img(src="/dist/image/pay/tele2.png", alt="TELE2")
                img(src="/dist/image/pay/tinkoff.png", alt="Тинькофф банк")
            .pay__block-second
                .content__block
                    .content__block_label
                        h2 Оплата за готовый указатель
                    .content__block_text
                        p= 'После того, как ваш заказ будет готов, мы уведомим вас. Дальше возможны варианты: табличку можно либо забрать самостоятельно, либо отправить почтой.'
                        p= 'В первом случае оплатить остаток суммы можно непосредственно на точке выдачи, а отправка почтой возможна и наложенным платежом, но в этом случае вы оплачиваете еще и комиссию перевозчику.'
                        p= 'Гарантии для заказчиков'
                        p= 'Если вы забираете знак с адресом самостоятельно, то можете убедиться в качестве, осмотреть свой заказ, и только потом оплачивать.'
                        p= 'Если вы заказываете табличку с доставкой, то учитывайте, что мы используем очень качественную упаковку, чтобы ваш заказ доехал без повреждений.'
