section.review#review
    .container
        p.review__label отзывы клиентов
        .slider
            .slider__box
                .slider__box_image
                    img(src="/dist/image/reviews/first.jpg", alt="Первый отзыв")
                .slider__box_text
                    p.slider__box_text-common= 'Нужен был указатель для частного дома, причем вариантов размещения было не так много из-за особенностей фасада. Спасибо, что посоветовали световой фонарь, который отлично вписался в свободное место. И с улицы видно даже в темноте, и электроэнергии практически не потребляет.'
                    p.slider__box_text-common= 'Мы очень довольны, благодарим чистосердечно!'
                    p.slider__box_text-whois= 'Ангелина Троцик, '
                    p.slider__box_text-whois= 'Частник, г. ' + city.city
            .slider__box
                .slider__box_image
                    img(src="/dist/image/reviews/second.jpg", alt="Второй отзыв")
                .slider__box_text
                    p.slider__box_text-common= 'Для своего кирпичного дачного домика выбрали указатель в стиле ретро, с необычным изогнутым верхом. Порадовало, что предложили широкий выбор цветов для пленки, но при этом не стали увеличивать цену. Все крепежи тоже уже входят в стоимость.'
                    p.slider__box_text-common= 'Все очень качественно и удобно: получили, повесили, радуемся, что теперь гости нас легко находят летом.'
                    p.slider__box_text-whois= 'Ирина Викторовна, '
                    p.slider__box_text-whois= 'Частник, г. ' + city.city
            .slider__box
                .slider__box_image
                    img(src="/dist/image/reviews/third.jpg", alt="Третий отзыв")
                .slider__box_text
                    p.slider__box_text-common= 'Заказали сразу 4 адресных указателя на дом, чтобы повесить таблички на каждый угол дома. Получили хорошую скидку. Съездили, забрали самостоятельно (опять же, сэкономили). Получилось, что почти и не потратились, а фасад привели в порядок. От имени всех жильцов ТСЖ приносим благодарность!'
                    p.slider__box_text-common= 'Соседям тоже станем вас рекомендовать.'
                    p.slider__box_text-whois= 'Александр Пальчиков, '
                    p.slider__box_text-whois= 'Частник, г. ' + city.city
