section#seoText.seoText
    .container
        .seoText__content
            .seoText__content_text
                .content__block
                    .content__block_label
                        h2= "Адресные указатели на дом: цена"
                    .content__block_text
                        p= 'Чтобы заказать указатель с названием на дом ' + city.prepositionalCity + ', вам нужно оставить заявку, сразу выбрав все необходимые параметры. Для выбора возможны разные способы оформления лицевой панели, в том числе аппликация пленкой или гравировка.'
                        p= 'Мы разместим на табличке номер дома с названием улицы, а также другую информацию или даже изображения по желанию заказчика. Нашу компанию рекомендуют многие владельцы загородных домов, для которых мы уже сделали оригинальные знаки адресации.'
                        p= 'Как сделать заказ?'
                        p= 'Вы можете оставить заявку, а менеджер свяжется с вами и уточнит все по вашему заказу. Можем посоветовать необходимый материал в зависимости от условий эксплуатации. Возможны самые разные варианты исполнения – от простого прямоугольника с аппликацией пленкой до полноценного светового короба.'
                        p= 'Изделия поставляются со всеми необходимыми крепежными элементами. При необходимости наши рабочие проведут монтаж на объекте, руководствуясь регламентом размещения.'
                .content__block
                    .content__block_label
                        h2= "Указатели адреса для коттеджей и зданий"
                    .content__block_text
                        p= 'Чтобы купить указатель с адресом для дома или на дачу из пластика ПВХ или металла, укажите всю контактную информацию, которая поможет нам обработать ваш заказ. Информацию о нужной табличке мы передаем на производство только после получения аванса в размере минимум 300 рублей.'
                        p= 'Работаем для того, чтобы объекты адресации отличались удобством навигации, а также для того, чтобы фасады зданий приобретали завершенный вид.'
                        p= 'Дополнительные скидки на таблички с номерами'
                        p= 'Наши заказчики могут получить дополнительно 20% скидки при заказе нескольких домовых указателей одновременно. Экономьте, выбирая одинаковые номерные знаки для частных домов и общественных зданий!'
                        p= 'Также мы всегда предоставляем гарантию на изделия. Эксплуатационный период каждой таблички зависит от того, какие материалы для нее использованы.'