section.video#video
    .container
        .video__content.col-md-6
            .content__block
                .content__block_label
                    h2= 'Изготовление адресных указателей ' + city.prepositionalCity
                .content__block_text
                    p= 'Предлагаем адресные указатели на дом, выполненные по индивидуальному заказу. Вы можете выбрать изделие в ретро-стиле или с современной светодиодной подсветкой. В любом случае изготовим адресный указатель по Госту.'
                    p= 'Используем передовые технологии изготовления домовых указателей. Вы можете выделить свой дом на улице, используя номер необычной формы или, напротив, заказать сразу несколько одинаковых табличек – например, для всего дачного поселка.'
                    p= 'Изготавливаем домовые знаки и информационные таблички'
                    p= 'Наши знаки изготавливаются стандартных размеров или по индивидуальному заказу. В последнем случае мы разрабатываем специальный макет, а также способ декорирования. Возможен даже выбор оттенка для подсветки или указание какой-то необычной информации.'
                    p= 'Наши знаки востребованы на виноградниках и в дачных поселках, на различных приусадебных участках, а также среди жителей многоквартирных домов или частных коттеджей. Также мы сотрудничаем с организациями, предлагая специальные цены на заказы большого объема.'
            .content__block
                .content__block_label
                    h2= 'Номера в соответствии с фасадом здания'
                .content__block_text
                    p= 'Обеспечиваем производство оригинальных домовых табличек в соответствии с оформлением фасада здания, в любых цветах. Оттенок подсветки тоже можно выбирать. Особенно эффектно выглядит внутренняя подсветка и конструкции типа «фонарь».'
                    p= 'Выбирайте размеры указателя: ширина - 60 см, высота от 10 до 37 см. Чтобы оформить заказ, достаточно сразу оговорить особенности конструкции, габариты и форму.'
                    p= 'Оформление заказа на таблички с названиями улиц'
                    p= 'Мы занимаемся производством домовых указателей из современных материалов. Для наших клиентов доступны: прочный и долговечный пластик ПВХ, композитный алюминий и нержавеющая сталь.'
                    p= 'Для декора и получения нужного оттенка используем немецкие пленки oracal. Благодаря разным комбинациям оттенков фона и букв получают индивидуальный дизайн – контрастный или сдержанный.'
        .video__frame.col-md-6
            iframe.video__frame_video(src="https://www.youtube.com/embed/OQkY_iKxBjQ", frameborder="0")
