section.review#review
    .container
        p.review__label отзывы клиентов
        .slider
            .slider__box
                .slider__box_image
                    img(src="/dist/image/reviews/first.jpg", alt="Первый отзыв")
                .slider__box_text
                    p.slider__box_text-common= 'У нас подъезд с несквозной нумерацией квартир, а потому часто путаются и курьеры, и гости. Решили исправить ситуацию самостоятельно, повесив этажные таблички.'
                    p.slider__box_text-common= 'Нам составили макет, подобрали цвет и изготовили все очень быстро. Получилось аккуратно и информативно, благодарим!'
                    p.slider__box_text-whois= 'Ангелина Троцик, '
                    p.slider__box_text-whois= 'г. ' + city.city
            .slider__box
                .slider__box_image
                    img(src="/dist/image/reviews/second.jpg", alt="Второй отзыв")
                .slider__box_text
                    p.slider__box_text-common= 'Выбрали эту компанию, так как здесь предложили быстрое изготовление и удобную курьерскую доставку. Также оказалось, что нашему многоэтажному дому положена скидка, поскольку мы заказывали таблички с номерами сразу для всех этажей.'
                    p.slider__box_text-common= 'В итоге получилось совсем недорого!'
                    p.slider__box_text-whois= 'Ирина Викторовна, '
                    p.slider__box_text-whois= 'г. ' + city.city
            .slider__box
                .slider__box_image
                    img(src="/dist/image/reviews/third.jpg", alt="Третий отзыв")
                .slider__box_text
                    p.slider__box_text-common= 'Понадобились таблички с этажами, чтобы разместить их напротив выхода из лифта. Здесь нам  подобрали размер и шрифт, все получилось красиво и аккуратно.'
                    p.slider__box_text-common= 'Цвет выбрали классический – белый на синем фоне, чтобы сэкономить.'
                    p.slider__box_text-whois= 'Александр Пальчиков, '
                    p.slider__box_text-whois= 'г. ' + city.city
