section#seoText.seoText
    .container
        .seoText__content
            .seoText__content_text
                .content__block
                    .content__block_label
                        h2
                    .content__block_text
                        p= 'Чтобы заказать изготовление этажных табличек: цена от 500 руб, оформите предварительный заказ на сайте. Вы можете выбрать полноцветную печать и усиление алюминиевым профилем или вариант с карманами для сменной информации.'
                        p= 'Все желания заказчика, включая габариты и цвета, могут быть реализованы. Достаточно только согласовать с менеджером детали.'
                .content__block
                    .content__block_label
                        h2= "Доставка этажных табличек " + city.prepositionalCity
                    .content__block_text
                        p= 'Наши работы рекомендуют соседям и знакомым, поскольку они отличаются высоким качеством.'
                        p= 'Вам не придется беспокоиться о том, где и как забрать свою табличку. Если вы решите купить табличку с номерами этажей с самовывозом или курьерской доставкой, то менеджер обязательно перезвонит и подберет удобное для вас время получения.'