section.video#video
    .container
        .video__content.col-md-6
            .content__block
                .content__block_label
                    h2= 'Изготовление табличек с номерами этажей ' + city.prepositionalCity + ' на заказ'
                .content__block_text
                    p= 'Планируете заказать изготовление таблички с номером этажа ' + city.prepositionalCity + '? Обращайтесь к нам! У нас – широкий выбор пластика ПВХ разной толщины, в том числе 3 и 4 мм, а также металлических пластинок.'
                    p= 'Для нанесения текста используем пленку оракал и последующую ламинацию. Также можно заказать вариант с лазерной гравировкой или другим оригинальным дизайном.'
            .content__block
                .content__block_label
                    h2= 'Таблички с номерами этажей: цена'
                .content__block_text
                    p= 'Цены на изготовление с номерами этажей ' + city.prepositionalCity + ' зависят от объема заказа. Также стоимость увеличится, если вы захотите использовать уникальный макет с особым дизайном.'
                    p= 'Нашу компанию рекомендуют как производителя, гарантирующего быстрые сроки изготовления. Кроме того, мы предоставляем гарантию на все изделия.'
        .video__frame.col-md-6
            iframe.video__frame_video(src="https://www.youtube.com/embed/OQkY_iKxBjQ", frameborder="0")
