section#seoText.seoText
    .container
        .seoText__content
            .seoText__content_text
                .content__block
                    .content__block_label
                        h2= "План-схемы с сертификатами качества на материалы"
                    .content__block_text
                        p= 'Мы предлагаем изготовление плана эвакуации: фотолюминесцентная/светонакапливающая пленка, пвх, рамка Nelsen.'
                        p= 'Все эти комплектующие для планов имеют сертификаты качества. Также предоставляем сертификат о соответствии люминесцентной пленки ГОСТу.'
                .content__block
                    .content__block_label
                        h2= "Доставка планов эвакуации " + city.prepositionalCity
                    .content__block_text
                        p= 'Вы можете заказать план эвакуации из здания при пожаре с курьерской доставкой, с отправкой почтовыми службами или самовывозом. Правильно выполненный план помогает сориентироваться в экстренной ситуации и организованно следовать к безопасным выходам.'
                        p= 'Такие схемы необходимы для всех общественных помещений, где часто бывает много людей. Это рестораны и гостиницы, офисные и торговые помещения, а также аэропорты, вокзалы, станции метро и медицинские центры, а также учебные заведения.'