section.video#video
    .container
        .video__content.col-md-6
            .content__block
                .content__block_label
                    h2= 'Изготовление планов эвакуации ' + city.prepositionalCity + ' по ГОСТу'
                .content__block_text
                    p= 'У нас вы можете заказать план эвакуации из здания по ГОСТу 12.2.143-2009 в форматах – А2, А3. Сделаем этажную, секционную или локальную план-схему по вашему заказу.'
                    p= 'Размещение план-схем эвакуации с обозначением эвакуационных выходов и зон безопасности необходимо для этажей в здании, а также для отдельных кабинетов и участков.'
            .content__block
                .content__block_label
                    h2= 'Схемы пожарной эвакуации на заказ: цена'
                .content__block_text
                    p= 'Цена плана пожарной эвакуции зависит от объема вашего заказа. Чем большей объем заказа тем выше % скидки. Специальные условия по изготовлению план-схем эвакуации для гостиниц, больниц (мед учреждений), торговых центров, офисных зданий, ресторанов.'
                    p= 'У нас можно заказать план эвакуации по ГОСТу ' + city.prepositionalCity + ', 12.2.143-2009 с учетом последних изменений изготовленный из фотолюминесцентной пленки и ПВХ. Также есть возможность выполнить план-схему под оргстеклом и в рамке.'
        .video__frame.col-md-6
            iframe.video__frame_video(src="https://www.youtube.com/embed/kNRsxb-ehkw", frameborder="0")
